.checkout-container {
  background: $semi-light-grey;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  @include column;

  & .checkout-container__inner {
    @include double-layer;
    flex: 1;
    padding-bottom: 48px;

    @include mobileFirst(1024) {
      padding-bottom: 162px;
    }

    & .checkout-page-header {
      font-weight: 400;
      font-size: calculate-rem(18px);
      color: $font-color;
      text-transform: capitalize;
      padding-top: calc-em(23px);
      padding-bottom: calc-em(21px);

      @include mobileFirst(1024) {
        padding-top: calc-em(34px);
        padding-bottom: calc-em(28px);
        font-size: calculate-rem(24px);
      }
    }

    // FORMS AND ORDER SUMMARY WRAP AND STYLES
    & .checkout-page-cols-wrap {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: calc-em(32px) 0;

      @include mobileFirst(1024) {
        display: grid;
        grid-template-columns: 45vw 1fr;
        grid-gap: 0 calc-em(49px);
        align-items: start;
      }

      @include mobileFirst(1280) {
        display: grid;
        grid-template-columns: 55vw 1fr;
        grid-gap: 0 calc-em(49px);
      }

      @include mobileFirst(1440) {
        display: grid;
        grid-template-columns: 60vw 1fr;
        grid-gap: 0 calc-em(49px);
      }

      & .checkout-page-col {
        background: $white;
        width: 100%;
        height: auto;
        @include border-radius(3px);
      }

      // CHECKOUT FORMS COLUMN
      & .checkout-page-forms {
        width: 100%;
        padding: 25px 19px 29px 20px;

        @include mobileFirst(1024) {
          width: 100%;
          padding: 45px 50px 67px 43px;
        }

        // CHECKOUT PAGE BUTTON
        & .checkout-p-button {
          font-weight: 400;
          font-size: calculate-rem(14px);
          letter-spacing: 0.03em;
          @include btn-style($brand-color, $white, 100%, 52px, none);
          @include border-radius(3px);
          @include box-shadow(
            1px 6px 15px 0 rgba($color: $brand-color, $alpha: 0.6)
          );
          @include trans(0.2s);

          &:focus {
            background: lighten($color: $brand-color, $amount: 5%);
            box-shadow: none;
          }

          @include mobileFirst(1024) {
            display: none;
          }
        }

        & .checkout-p-button-desktop {
          display: none;

          @include mobileFirst(1024) {
            display: block;
            font-weight: 400;
            font-size: calculate-rem(18px);
            letter-spacing: 0.03em;
            @include btn-style($brand-color, $white, 100%, 52px, none);
            @include border-radius(3px);
            @include trans(0.2s);
            cursor: pointer;

            &:hover {
              @include box-shadow(
                1px 6px 15px 0 rgba($color: $brand-color, $alpha: 0.6)
              );
            }

            &:focus {
              background: lighten($color: $brand-color, $amount: 5%);
              box-shadow: none;
            }
          }
        }

        // HEADER SECTION STYLE
        & .checkout-page-forms-header-wrap {
          @include row;
          align-items: flex-start;
          justify-content: space-between;

          @include mobileFirst(1024) {
            align-items: flex-end;
          }

          & .header-col-one {
            & .checkout-forms__header {
              font-weight: 400;
              font-size: calculate-rem(14px);
              color: $font-color;

              @include mobileFirst(1024) {
                font-size: calculate-rem(18px);
              }
            }

            & .checkout-forms__details {
              font-weight: 300;
              font-size: calculate-rem(12px);
              letter-spacing: 0.03em;
              color: $font-color;
              margin-top: 6.5px;
              padding-right: 20.99px;

              @include mobileFirst(1024) {
                margin-top: 15px;
                font-size: calculate-rem(14px);
              }
            }
          }

          & .change-address-button {
            font-size: calculate-rem(10px);
            letter-spacing: 0.03em;
            text-transform: uppercase;
            @include btn-style(transparent, $brand-color, auto, auto, none);

            @include mobileFirst(1024) {
              cursor: pointer;
              @include trans(0.2s);

              &:hover {
                color: darken($color: $brand-color, $amount: 7%);
              }
            }
          }
        }

        // horizontal-line
        & .col-header-line {
          @include horizontal-line(1px, solid, $grey, 100%);
          margin-top: calc-em(19px);
          margin-bottom: calc-em(32px);
        }

        // HIDE AND SHOW
        & .form-detail-wrap {
          width: 100%;
          margin-bottom: 32px;

          @include mobileFirst(1024) {
            margin-bottom: 0;
          }

          & .hide-show-drop-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border-bottom: 1px solid $fade-grey;
            padding-bottom: 18px;
            position: relative;
          }
        }

        & .showHideForm {
          width: 100%;
          outline: none;
          cursor: pointer;
          font-weight: 400;
          font-size: calculate-rem(14px);
          color: $font-color;
          @include flex-space-between;
          border-bottom: 1px solid $fade-grey;
          padding-bottom: 18px;

          &:focus {
            outline: 0;
          }

          @include mobileFirst(1024) {
            font-size: calculate-rem(18px);
            padding-bottom: 15px;
          }
        }

        /* Hide the actual checkbox */
        & input[type='checkbox'] {
          position: absolute;
          top: -9999px;
          left: -9999px;
          visibility: hidden;
        }

        & .show-content-wrap {
          height: auto;
          display: none;
          visibility: hidden;
          transition: height ease-out 0.3s 0.2s, opacity ease-in.2s;
          -webkit-transition: height ease-out 0.3s 0.2s;
          -moz-transition: height ease-out 0.3s 0.2s;
          -ms-transition: height ease-out 0.3s 0.2s;
          -o-transition: height ease-out 0.3s 0.2s;

          @include mobileFirst(1024) {
            font-size: calculate-rem(14px);
          }
        }

        /* Make element after checked checkbox is visible */
        & input[type='checkbox']:checked ~ .show-content-wrap {
          display: block;
          visibility: visible;
          height: auto;
          transition: height ease-out 0.2s, opacity ease-out 0.5s 0.2s;
          -webkit-transition: height ease-out 0.2s;
          -moz-transition: height ease-out 0.2s;
          -ms-transition: height ease-out 0.2s;
          -o-transition: height ease-out 0.2s;
          padding: 0;
          padding-top: 18px;
          padding-bottom: 18px;
          width: 100%;
          max-width: 100%;

          @include mobileFirst(1024) {
            padding-top: 33px;
            padding-bottom: 28px;
          }

          & .checkout-p-payement-option {
            height: 52px;
            width: 138.79px;
            border: 2px solid $brand-color;
            box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.07);
            @include border-radius(3px);
            @include flex-row;

            @include mobileFirst(1024) {
              width: 176px;
              height: 68px;
            }

            & .checkout-p-payIcon {
              width: 30px;
              height: 30px;
              fill: $brand-color;
            }

            & .payMethod-name {
              margin-left: 10.87px;
              font-weight: 400;
              font-size: calculate-rem(10px);
              color: $font-color;
              text-transform: capitalize;

              @include mobileFirst(1024) {
                font-size: calculate-rem(14px);
              }
            }
          }

          // DELIVERY DETAILS FORM
          .delivery-detail-form-wrap {
            width: 100%;
            max-width: 100%;
            @include column;
            margin-bottom: 24px;

            input {
              color: $font-color;
            }
          }

          .delivery-detail-formGroup {
            width: 100%;
            max-width: 100%;

            @include mobileFirst(1024) {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-gap: 0 48px;
              align-items: start;
            }
          }

          .delivery-detail-label {
            font-weight: 400;
            font-size: calculate-rem(12px);
            color: $font-color;
            margin-bottom: calc-em(10px);

            @include mobileFirst(1024) {
              font-size: calculate-rem(14px);
            }
          }

          .delivery-detail-form {
            border: 2px solid $fade-grey;
            @include border-radius(3px);
            font-size: calculate-rem(14px);
            height: 46px;
            outline: none;
            padding: 0 0.6em;

            &:focus {
              border-color: $brand-color;
              color: $brand-color;
            }

            @include mobileFirst(1024) {
              font-size: 1rem;
              height: 60px;
            }
          }
        }
      }

      // ORDER SUMMARY COLUMN
      & .checkout-page-order-summary {
        padding: 34px 19px 27px 20px;
        width: 100%;
        height: auto;

        @include mobileFirst(1024) {
          width: 100%;
          padding: 39px 35px 26px 35px;
        }

        // SUMMARY HEADER
        & .order-summary__header-wrap {
          display: flex;
          justify-content: space-between;

          & .order-summary__header {
            font-weight: 400;
            font-size: calculate-rem(18px);
            letter-spacing: 0.03em;
            color: $font-color;

            @include mobileFirst(1024) {
              font-size: calculate-rem(24px);
            }
          }

          & .order-summary__edit-order {
            font-weight: 400;
            font-size: calculate-rem(10px);
            letter-spacing: 0.03em;
            text-transform: uppercase;
            @include btn-style(transparent, $brand-color, auto, auto, none);

            @include mobileFirst(1024) {
              cursor: pointer;
            }
          }
        }

        // HORIZONTAL LINE
        & .horizontal-line {
          @include horizontal-line(1px, solid, $grey, 100%);
          margin-top: calc-em(10px);
          margin-bottom: calc-em(20px);

          @include mobileFirst(1024) {
            margin-top: calc-em(19px);
            margin-bottom: calc-em(27px);
          }
        }

        & .checkout-items-listing-wrap {
          @include column;
          // padding-bottom: 37px; // add this in the future when coupon code form is added

          & .checkout__item {
            @include flex-space-between;
            margin-bottom: calc-em(20px);

            &:last-of-type {
              margin-bottom: 0;
            }

            &:only-of-type {
              margin-bottom: 0;
            }

            @include mobileFirst(1024) {
              margin-bottom: calc-em(17px);
            }

            & .item-name-wrap {
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;

              & .item-number,
              .item-name {
                font-weight: 400;
                letter-spacing: 0.03em;
              }

              & .item-name {
                padding-right: 1em;
                @include line-clamp(1);
              }

              & .item-number {
                margin-right: calc-em(11.37px);

                @include mobileFirst(1024) {
                  margin-right: calc-em(20px);
                }
              }
            }

            & .item-number,
            .item-name,
            .item-price {
              font-size: calculate-rem(12px);
              color: $font-color;

              @include mobileFirst(1024) {
                font-size: calculate-rem(14px);
              }
            }

            & .item-price-wrap {
              display: flex;
              justify-content: flex-end;
              align-items: flex-start;

              & .item-price {
                font-weight: 500;
                letter-spacing: 0.05em;
                margin-right: calc-em(10.83px);

                @include mobileFirst(1024) {
                  margin-right: calc-em(20.83px);
                }
              }

              & .remove-item-button {
                background: none;
                border: none;
                outline: none;
                margin-top: 0.01em;

                & .clear-select-icon {
                  width: 15.57px;
                  height: 15px;
                }
              }
            }
          }
        }

        // COUPON FORM INPUT
        & .checkout-coupon-form-wrap {
          @include row;
          width: 100%;
          margin-top: calc-em(17px);
          margin-bottom: calc-em(20px);
          height: 50px;

          @include mobileFirst(1024) {
            height: 48px;
            margin-top: calc-em(26px);
            margin-bottom: calc-em(25px);
          }

          // FORM
          & .coupon-form {
            width: 100%;
            height: 100%;
            border: 1px solid $fade-grey;
            border-right: none;
            outline: none;
            font-weight: 300;
            font-size: calculate-rem(12px);
            color: $soft-grey;
            @include border-radius(3px 0 0 3px);
            @include placeholder($soft-grey);
            @include trans(0.2s);
            padding-left: 18.22px;
            padding-right: 10px;

            &:focus {
              color: $brand-color;
              border-color: $brand-color;
              caret-color: $brand-color;
              @include placeholder($brand-color);
            }

            @include mobileFirst(1024) {
              padding-left: 24px;
            }
          }

          // BUTTON
          & .coupon-button {
            font-weight: 400;
            font-size: calculate-rem(12px);
            color: $white;
            @include btn-style($brand-color, $white, 63.52px, 100%, none);
            @include border-radius(0 3px 3px 0);

            &:focus,
            &:active {
              background: lighten($color: $brand-color, $amount: 5%);
            }

            @include mobileFirst(1024) {
              width: 71px;
              cursor: pointer;
            }
          }
        }

        // SUBTOTAL
        & .checkout-p-subtotal-wrap {
          @include flex-space-between;
          margin-bottom: calc-em(12px);

          &:last-child {
            margin-bottom: 0;
          }

          @include mobileFirst(1024) {
            margin-bottom: calc-em(22px);
          }

          & .checkout-p-subtotal-text,
          .checkout-p-subtotal-amount {
            font-weight: 450;
            font-size: calculate-rem(12px);
            letter-spacing: 0.03em;
            color: $font-color;

            @include mobileFirst(1024) {
              font-size: calculate-rem(14px);
            }
          }

          & .checkout-p-subtotal-amount {
            letter-spacing: 0.05em;
            font-weight: 500;
          }
        }

        // SUBTOTAL-HORIZONTAL LINE
        & .checkout-p-subtotal-line {
          @include horizontal-line(1px, solid, $grey, 100%);
          margin-top: calc-em(5px);
          margin-bottom: calc-em(15px);
        }

        & .checkout-p-total-amount-wrap {
          margin-bottom: calc-em(18px);
          @include flex-space-between;

          & .total-details,
          .total-amount {
            font-size: calculate-rem(12px);
            color: $font-color;

            @include mobileFirst(1024) {
              font-size: calculate-rem(16px);
              color: $dark-brand-color;
            }
          }

          & .total-details {
            letter-spacing: 0.03em;
            font-weight: 400;
          }

          & .total-amount {
            font-weight: 500;
            letter-spacing: 0.05em;
          }
        }
      }
    }
  }
}
