// HERO
.sing-res-hero {
  width: 100%;
  height: 230px;
  background-blend-mode: multiply;
  width: 100%;
  height: 189px;
  background: rgba(69, 92, 25, 0.4) url('../../assets/images/bitmaps/home-hero-bg.jpg') no-repeat center;
  background-size: cover;
  position: relative;

  @include mobileFirst(769) {
    height: 671px;
  }

  .hero-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include mobileFirst(769) {
      align-items: center;
      justify-content: flex-start;
    }

    .hero-card__inner {
      height: 230px;
      width: 100%;
      max-width: calc(100% - 14px);
      margin: 0 auto;
      background: $white;
      margin-top: 80px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      @include border-radius(3px);
      padding: 29px 28px 30px 22px;

      @include mobileFirst(769) {
        width: 587px;
        height: 334px;
        max-width: calc(100% - 83px);
        margin: 191px 0 0 83px;
        box-shadow: none;
        padding: 64px 55px 63px 60px;
      }

      // BACK BTN
      .back-btn-wrap {
        width: 100%;
        @include flex-space-between;

        .back-btn {
          width: 32px;
          height: 32px;
          @include flex-row;
          @include border-radius(50%);
          background: $grey;
          border: none;
          position: relative;
          outline: none;

          @include mobileFirst(769) {
            width: 42px;
            height: 42px;
            cursor: pointer;
            @include trans(0.2s);

            &:hover {
              @include scale(1.2);
              box-shadow: 0 5px 15px rgba($color: $grey, $alpha: 1);
            }

            &:focus {
              @include scale(1);
              box-shadow: none;
            }
          }

          svg {
            @include absCenter;
            width: 30px;

            @include mobileFirst(769) {
              width: 2.5rem;
            }
          }
        }

        .about-restaurant-link {
          font-weight: 450;
          font-size: calculate-rem(9px);
          text-align: right;
          letter-spacing: 0.05em;
          text-decoration-line: underline;
          text-transform: uppercase;
          color: $brand-color;

          @include mobileFirst(769) {
            font-size: calculate-rem(12px);
            cursor: pointer;
            @include transition-color;

            &:hover {
              color: darken($color: $brand-color, $amount: 6%);
            }
          }
        }
      }

      // REST NAME
      .hero-rest-name-wrap {
        @include flex-space-between;
        margin-top: calc-em(16px);
        margin-bottom: calc-em(5px);

        @include mobileFirst(769) {
          margin-top: calc-em(28px);
        }

        .hero-rest-name {
          font-weight: 500;
          font-size: calculate-rem(14px);
          letter-spacing: 0.03em;
          color: $dark-brand-color;

          @include min-max(319, 374) {
            font-size: calculate-rem(10px);
          }

          @include mobileFirst(769) {
            font-size: calculate-rem(20px);
            font-weight: 700;
          }
        }

        .hero-rest-name--icons-wrap {
          .hero-restName-icon {
            width: 18px;
            height: 18px;

            &:not(:last-child) {
              margin-right: calc-em(5px);
            }

            @include mobileFirst(769) {
              width: 26px;
              height: 26px;
            }
          }
        }
      }

      // REST NAME ENDS

      // OFFERINGS TEXT

      .hero-offerings-text {
        font-weight: 300;
        font-size: calculate-rem(10px);
        line-height: 154.1%;
        letter-spacing: 0.05em;
        color: $font-color;
        margin-bottom: calc-em(16px);

        @include mobileFirst(769) {
          font-weight: 300;
          font-size: calculate-rem(16px);
          margin-bottom: calc-em(21px);
        }
      }

      // OFFERINGS TEXT

      // PRICE LISTINGS WITH MENU
      .hero-rest-listing-wrap {
        @include flex-space-between;

        // DESKTOP VIEW ALONE
        .rest-listing-rating {
          display: none;

          @include mobileFirst(769) {
            @include flex-row;

            .rating-number {
              font-weight: 600;
              font-size: calculate-rem(24px);
              line-height: 154.1%;
              letter-spacing: 0.03em;
              color: $font-color;
            }

            .listing-reviews {
              font-weight: 450;
              font-size: calculate-rem(10px);
              line-height: 154.1%;
              letter-spacing: 0.03em;
              text-decoration-line: underline;
              -moz-text-decoration-line: underline;
              color: $font-color;
            }
          }
        }

        .star-rating-wrap {
          display: flex;
          align-items: center;
          justify-content: space-between;

          svg {
            width: 1.5rem;
            height: 1.5rem;
            margin: 0 0.2rem 0.1rem 0;
          }

          .listing-reviews {
            margin-top: 1rem;
          }
        }

        .hero-rest-listing__col {
          .hero-rest__listing-header {
            font-weight: 450;
            font-size: 10px;
            line-height: 154.1%;
            letter-spacing: 0.03em;
            color: #c4c4c4;
            margin-bottom: 4px;
            font-weight: bold;

            @include min-max(369, 424) {
              font-size: calculate-rem(8px);
            }

            @include min-max(338, 368) {
              font-size: calculate-rem(7px);
            }

            @include min-max(320, 337) {
              font-size: calculate-rem(5px);
            }

            @include mobileFirst(769) {
              font-size: calculate-rem(12px);
            }
          }

          .hero-rest__listing-detail {
            color: $font-color;
            font-size: calculate-rem(8px);

            @include mobileFirst(769) {
              font-size: calculate-rem(12px);
            }
          }
        }

        .hero-rest__listing-menu {
          @include mobileFirst(769) {
            display: none;
          }

          .menuToggle {
            position: relative;
            width: 32px;
            height: 32px;
            background: $soft-grey;
            @include border-radius(50%);
            @include flex-row;
            border: none;
            outline: none;

            .menuToggle-icon {
              width: 15px;
              height: 15px;
            }
          }

          .menu {
            position: absolute;
            display: none;
            right: 14px;
            background: $white;
            width: max-content;
            z-index: 10;
            height: auto;
            @include border-radius(3px);
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
            padding: 20px;

            ul {
              li {
                padding: 10px 0;
              }
            }
          }
        }
      }

      // PRICE LISTINGS WITH MENU ENDS
    }
  }
}

// ENDS

// SEARCH AND FILTER
.searches-wrap {
  @include mobileFirst(769) {
    position: relative;
  }

  .searches-wrap__inner {
    height: 60px;
    margin-top: calc-em(135px);
    @include flex-space-between;
    border-top: 1px solid #e8eddf;

    @include mobileFirst(769) {
      left: 83px;
      border: none;
      position: absolute;
      height: 55px;
      width: 100%;
      max-width: calc(100% - 166px);
      margin: -32px auto 0 auto;
    }

    .search-col-one {
      height: 100%;
      flex: 1;

      @include mobileFirst(768) {
        width: 587px;
      }

      // DISPLAY ON DESKTOP ALONE --- SEARCH INPUT
      .desktop-search-wrap {
        display: none;

        @include mobileFirst(769) {
          @include row;
          height: 100%;
          position: relative;

          .sing-res-search-input {
            @include mobileFirst(769) {
              @include row;
              @include placeholder($soft-grey);
              @include border-radius(3px);
              align-items: center;
              width: 587px;
              height: 100%;
              border: 1px solid #e8eddf;
              font-weight: 450;
              font-size: calculate-rem(14px);
              line-height: 154.1%;
              letter-spacing: 0.03em;
              color: $soft-grey;
              padding-left: 56px;
              outline: none;

              &:focus {
                border-color: $brand-color;
                @include placeholder($brand-color);
                color: $brand-color;
                caret-color: $brand-color;
              }
            }
          }

          .sing-res-search-input-icon {
            position: absolute;
            top: 30%;
            left: 20px;
          }
        }
      }

      // DROPDOWN SELECT FOR MOBILE
      // SEARCHBAR STYLES
      .searchbar-wrap {
        @include row;
        align-items: center;

        @include mobileFirst(769) {
          display: none;
        }

        position: relative;
        background: $white;
        @include border-radius(3px);
        height: 100%;
        width: 100%;

        .location-icon {
          position: absolute;
          width: 15px;
          height: 15px;
          top: 42px;
          left: 35px;
        }
      }

      // NEW DROPDOWN INPUT

      .dropdown {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;

        // CLICK
        .dd-input {
          display: none;
        }

        // DROPWDOWN BUTTON
        .search-button {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border: none;
          border-radius: 0;
          padding: 10px 5px 10px 30px;
          font-size: calculate-rem(10px);
          background-color: $white;
          cursor: pointer;
          white-space: nowrap;
          outline: none;
          width: 88%;
          height: 100%;

          color: $font-color;
          font-weight: 600;
          text-decoration: underline;

          &:after {
            content: url('../../assets/images/icons/location-icon.svg');
            position: absolute;
            top: 34%;
            left: 10px;
          }
        }

        .dd-menu {
          color: $font-color;
          font-weight: 600;
          font-size: calculate-rem(14px);
          position: absolute;
          top: 100%;
          border-radius: 4px;
          padding: 0;
          margin: 2px 0 0 0;
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
          background-color: $white;
          list-style-type: none;
          width: 100%;
          max-width: 100%;
        }

        .dd-input+.dd-menu {
          display: none;
        }

        .dd-input:checked+.dd-menu {
          display: block;
        }

        .dd-menu li {
          padding: 10px 6px;
          cursor: pointer;
          white-space: nowrap;
          text-align: left;
          @include row;
          justify-content: flex-start;
          align-items: center;

          img {
            margin-right: 0.5em;
            width: 18px;
            height: 18px;
          }
        }

        .dd-menu li:hover {
          background-color: #f6f6f6;
        }

        .dd-menu li a {
          display: block;
          margin: -10px -20px;
          padding: 10px 20px;
        }

        .dd-menu li.divider {
          padding: 0;
          border-bottom: 1px solid #cccccc;
        }
      }
    }

    .search-col-two {
      height: 100%;
      flex: 1;
      @include row;
      align-items: center;
      justify-content: flex-end;

      @include mobileFirst(769) {
        width: 459px;
      }

      // DISPLAY ON MOBILE ALONE
      .select-sort-wrap {
        height: 100%;
        @include row;
        align-items: center;
        justify-content: space-between;
        // margin-right: auto;
        width: 100%;
        max-width: calc(100% - 15px);

        @include mobileFirst(769) {
          display: none;
        }

        .select-and-sort-bar {
          .custom-select {
            position: relative;
            width: 100%;
            height: 100%;
            @include row;
            align-items: center;
          }

          .custom-select select {
            display: none;
            /*hide original SELECT element:*/
          }

          .select-selected {
            background-color: $white;
          }

          /*style the arrow inside the select element:*/
          .select-selected:after {
            position: absolute;
            content: url('../../assets/images/icons/tiny-claret-down.svg');
            top: 8px;
            right: 0;
          }

          /*point the arrow upwards when the select box is open (active):*/
          // .select-selected.select-arrow-active:after {
          //     @include rotate(-360);
          // }

          /*style the items (options), including the selected item:*/
          .select-items div,
          .select-selected {
            font-weight: 600;
            letter-spacing: 0.03em;
            color: $font-color;
            padding: 8px 16px;
            cursor: pointer;
            user-select: none;
            font-size: calculate-rem(10px);

            @include mobileFirst(375) {
              font-size: calculate-rem(12px);
            }
          }

          /*style items (options):*/
          .select-items {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 10;
            width: max-content;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
            background: $white;
          }

          /*hide the items when the select box is closed:*/
          .select-hide {
            display: none;
          }

          .select-items div:hover,
          .same-as-selected {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }

        // FILTER CONTAINER
        .filter-container {
          flex: 1;

          @include mobileFirst(769) {
            display: none;
          }

          .filter {
            width: 100%;
            position: relative;
            font-weight: 600;
            line-height: 154.1%;
            letter-spacing: 0.03em;
            color: $font-color;
            font-size: calculate-rem(10px);
            padding-left: 0.6em;

            @include mobileFirst(375) {
              font-size: calculate-rem(12px);
            }

            &:after {
              position: absolute;
              content: url('../../assets/images/icons/mobile-filter.svg');
              top: 0;
              left: 47px;
            }
          }
        }
      }

      // DISPLAY ON DESKTOP ALONE
      .desktop-listing-menu {
        display: none;

        @include mobileFirst(768) {
          @include row;
        }

        width: 459px;
        height: 100%;
        background: $white;
        @include border-radius(3px);
        border: 1px solid #e8eddf;
        align-items: center;

        .desktop-listing__col {
          flex: 1;
          height: 100%;
          @include row;
          align-items: center;
          justify-content: center;

          .desktop-listing__col-icon {
            margin-right: calc-em(10px);
          }

          .desktop-listing__col-link {
            font-weight: 600;
            font-size: calculate-rem(14px);
            line-height: 154.1%;
            letter-spacing: 0.03em;
            color: $font-color;
          }
        }

        .vertical-line {
          @include vertical-line(1.5px, $semi-light-grey, solid, 100%);
        }
      }
    }
  }
}

// TABS MENU AND ORDERS TAB
.tabs-menu-orders-wrap {
  background: $semi-light-grey;
  height: 100%;
  width: 100%;

  @include mobileFirst(769) {
    padding-top: 77px;
    padding-bottom: 77px;
  }

  & .tabs-menu-orders__inner {
    @include row;
    justify-content: space-between;
    background: #f1f1f1;

    @include mobileFirst(769) {
      width: 100%;
      max-width: calc(100% - 166px);
      margin: 0 auto;
    }

    & .menu-orders__tabs {
      width: 100%;

      @include min-max(769, 1280) {

        width: 60vw;
        max-width: calc(100% - 84px);
        margin: 0 40px 0 0;
      }

      @include mobileFirst(1281) {

        width: 100%;
        max-width: calc(100% - 459px);
        padding-right: 84px;
      }

      /* Style the tab */
      .menu-orders_tab {
        overflow: hidden;
        background-color: transparent;
        height: 3.5rem;
        display: flex;
        overflow-x: scroll;
        align-items: flex-end;

        @include scrollbar-hide;
      }

      /* Style the buttons inside the tab */
      .menu-orders_tab .menu-orders_tabBtn {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        @include transition;
        font-weight: 600;
        font-size: calculate-rem(12px);
        letter-spacing: 0.03em;
        color: $soft-grey;

        @include mobileFirst(769) {
          font-size: calculate-rem(14px);
        }
      }

      /* Change background color of buttons on hover */
      .menu-orders_tab .menu-orders_tabBtn:hover {
        background-color: transparent;
      }

      /* Create an active/current tablink class */
      .menu-orders_tab .menu-orders_tabBtn.active {
        position: relative;
        color: $brand-color;

        &::after {
          @include mobileFirst(769) {
            content: '';
            position: absolute;
            border-bottom: 3px solid $brand-color;
            bottom: 0;
            left: 0;
            width: 100%;
          }
        }
      }

      /* Style the tab content */
      .menu-orders_tabcontent {

        height: 615px;
        max-height: 700px;
        padding: 6px 12px;
        background: #f1f1f1;
        overflow-y: scroll;
        scroll-behavior: smooth;
        @include scrollbar-hide;
        @include column;

        @include mobileFirst(769) {

          padding: 19px 1.5em 49px 0;

          @include scrollbar-show(1px, 1px, $soft-grey, 0.8em, $fade-grey, $soft-grey);
        }

        .menu-order_tabcontent-wrap {

          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 15px 0;
        }
      }
    }
  }
}
