@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins&display=swap");
@-webkit-keyframes slide-bg {
  100% {
    background-position: -5000px 20%;
  }
}
@keyframes slide-bg {
  100% {
    background-position: -5000px 20%;
  }
}

@-webkit-keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 15px);
    -webkit-transform: translate(0, 15px);
    -moz-transform: translate(0, 15px);
    -ms-transform: translate(0, 15px);
    -o-transform: translate(0, 15px);
  }
  100% {
    opacity: 0;
  }
}

@keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 15px);
    -webkit-transform: translate(0, 15px);
    -moz-transform: translate(0, 15px);
    -ms-transform: translate(0, 15px);
    -o-transform: translate(0, 15px);
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes animate-arrow {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-15px, -15px);
    -webkit-transform: rotate(45deg) translate(-15px, -15px);
    -moz-transform: rotate(45deg) translate(-15px, -15px);
    -ms-transform: rotate(45deg) translate(-15px, -15px);
    -o-transform: rotate(45deg) translate(-15px, -15px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(15px, 15px);
    -webkit-transform: rotate(45deg) translate(15px, 15px);
    -moz-transform: rotate(45deg) translate(15px, 15px);
    -ms-transform: rotate(45deg) translate(15px, 15px);
    -o-transform: rotate(45deg) translate(15px, 15px);
  }
}

@keyframes animate-arrow {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-15px, -15px);
    -webkit-transform: rotate(45deg) translate(-15px, -15px);
    -moz-transform: rotate(45deg) translate(-15px, -15px);
    -ms-transform: rotate(45deg) translate(-15px, -15px);
    -o-transform: rotate(45deg) translate(-15px, -15px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(15px, 15px);
    -webkit-transform: rotate(45deg) translate(15px, 15px);
    -moz-transform: rotate(45deg) translate(15px, 15px);
    -ms-transform: rotate(45deg) translate(15px, 15px);
    -o-transform: rotate(45deg) translate(15px, 15px);
  }
}

@-webkit-keyframes scale-bg {
  0% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@keyframes scale-bg {
  0% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@-webkit-keyframes pagicon-next {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  50% {
    transform: translateX(-2px);
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -o-transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@keyframes pagicon-next {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  50% {
    transform: translateX(-2px);
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -o-transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@-webkit-keyframes pagicon-previous {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  50% {
    transform: translateX(2px);
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -ms-transform: translateX(2px);
    -o-transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@keyframes pagicon-previous {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  50% {
    transform: translateX(2px);
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -ms-transform: translateX(2px);
    -o-transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@-webkit-keyframes testim-scale {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
  }
  35% {
    -webkit-box-shadow: 0px 0px 10px 5px #eee;
    box-shadow: 0px 0px 10px 5px #eee;
  }
  70% {
    -webkit-box-shadow: 0px 0px 10px 5px #ea830e;
    box-shadow: 0px 0px 10px 5px #ea830e;
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 0px #ea830e;
    box-shadow: 0px 0px 0px 0px #ea830e;
  }
}

@keyframes testim-scale {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #eee;
            box-shadow: 0px 0px 0px 0px #eee;
  }
  35% {
    -webkit-box-shadow: 0px 0px 10px 5px #eee;
            box-shadow: 0px 0px 10px 5px #eee;
  }
  70% {
    -webkit-box-shadow: 0px 0px 10px 5px #ea830e;
            box-shadow: 0px 0px 10px 5px #ea830e;
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 0px #ea830e;
            box-shadow: 0px 0px 0px 0px #ea830e;
  }
}

@-webkit-keyframes testim-content-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes testim-content-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes testim-content-out {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes testim-content-out {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes testim-show {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes testim-show {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes testim-hide {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes testim-hide {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

html:focus-within {
  scroll-behavior: smooth;
}

:root {
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root ::-webkit-scrollbar {
  width: 4.5px;
  border: 1px solid #ffffff;
  border-radius: 0.8em;
}

:root ::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #ffffff;
}

:root ::-webkit-scrollbar-thumb {
  background-color: #0d0d0f;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'lineto-circular-pro';
  font-size: 1rem;
  direction: rtl;
  /* update text-align value to right;  on latin screens*/
  direction: ltr;
  /* update text-align value to left; on latin screens*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0d0d0f;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-family: 'lineto-circular-pro';
}

img {
  border: none;
  outline: none;
  max-width: 100%;
  height: auto;
}

.block {
  display: block;
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.section-main-header {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 4rem;
  position: relative;
}

.section-main-header::before {
  content: url("../../../assets/icons/header-decor.svg");
  position: absolute;
  bottom: -12px;
  left: 32px;
  background-repeat: no-repeat;
  z-index: -1;
}

@media screen and (max-width: 63.875em) {
  .section-main-header::before {
    content: url("../../../assets/icons/header-decor-small.svg");
    position: absolute;
    bottom: -4.5px;
    left: 4px;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

@media screen and (max-width: 63.875em) {
  .section-main-header {
    font-size: 1.125rem;
    line-height: 25px;
    margin-bottom: 1.3125rem;
  }
}

@font-face {
  font-family: 'lineto-circular-pro';
  src: url("/assets/font/lineto-circular-pro-book.ttf") format("truetype");
  font-display: swap;
}

.fonts-failed body {
  font-family: Helvetica, Arial, sans-serif;
}

.fonts-failed h1,
.fonts-failed h2,
.fonts-failed h3,
.fonts-failed h4,
.fonts-failed h5,
.fonts-failed h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'DM Serif Display', serif;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

@media screen and (min-width: 48.0625em) {
  .page-wrapper {
    padding-top: 70px;
  }
}

.page-wrapper .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

a {
  color: #ffffff;
}

/* header */
.header-wrap {
  width: 100%;
  max-width: 100%;
  background: #0d0d0f;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 99999999;
}

.header-wrap .header__inner {
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media screen and (max-width: 63.875em) {
  .header-wrap .header__inner {
    max-width: 100%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 63.875em) {
  .header {
    display: inline-block;
  }
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
}

@media screen and (max-width: 63.875em) {
  .header li a {
    padding: 2em 0.5em;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 800;
  }
}

.menu li:not(:last-child) {
  padding-right: 48px;
}

@media screen and (max-width: 63.875em) {
  .menu li:not(:last-child) {
    padding-right: 0;
  }
}

.menu .link-one,
.menu .link-two,
.menu .link-three {
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

.menu .link-one:hover,
.menu .link-two:hover,
.menu .link-three:hover {
  font-weight: 800;
}

@media screen and (max-width: 63.875em) {
  .menu .link-one,
  .menu .link-two,
  .menu .link-three {
    color: #ffffff;
    z-index: 401;
  }
}

.menu .link-one:hover, .menu .link-one:active, .menu .link-one:focus {
  color: #C84E89;
}

.menu .link-two:hover, .menu .link-two:active, .menu .link-two:focus {
  color: #2193B0;
}

.menu .link-three:hover, .menu .link-three:active, .menu .link-three:focus {
  color: #BF5AE0;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
  text-decoration: none;
}

.header .logo:hover, .header .logo:focus {
  color: #C84E89;
  background: -webkit-gradient(linear, left top, right top, from(#c84e89), to(#bf5ae0));
  background: linear-gradient(to right, #c84e89, #bf5ae0);
  background: -webkit-linear-gradient(to right, #c84e89, #bf5ae0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 63.875em) {
  .header .logo {
    margin-left: 24px;
  }
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
}

@media screen and (max-width: 63.875em) {
  .header .menu {
    display: -ms-grid;
    display: grid;
    place-items: center;
    z-index: 900;
    width: 100%;
    height: 100vh;
  }
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 16px 10px 10px 20px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 300;
}

.header .menu-icon .navicon {
  display: block;
  height: 3px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  width: 30px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -8px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  background: #0d0d0f;
  position: fixed;
  top: 0;
  z-index: 200;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (min-width: 63.9375em) {
  .header li {
    float: left;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.collabo-section-wrap {
  height: auto;
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;
  margin-top: 188px;
  margin-bottom: 178px;
}

@media screen and (max-width: 63.875em) {
  .collabo-section-wrap {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 56px;
  }
}

.collabo-section-wrap .work-together-header {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

@media screen and (max-width: 63.875em) {
  .collabo-section-wrap .work-together-header {
    font-size: 1.5rem;
    line-height: 33px;
  }
}

.collabo-section-wrap .work-email-label,
.collabo-section-wrap .work-email {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.collabo-section-wrap .work-email-label {
  color: #ffffff;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 63.875em) {
  .collabo-section-wrap .work-email-label {
    font-size: 1rem;
    margin-top: 2.5rem;
    line-height: 20.24px;
  }
}

.collabo-section-wrap .work-email {
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  color: #cccccc;
  text-decoration: underline;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media screen and (max-width: 63.875em) {
  .collabo-section-wrap .work-email {
    font-size: 0.875rem;
    line-height: 17.71px;
  }
}

.collabo-section-wrap .work-email:hover {
  color: #C84E89;
  background: -webkit-gradient(linear, left top, right top, from(#c84e89), to(#bf5ae0));
  background: linear-gradient(to right, #c84e89, #bf5ae0);
  background: -webkit-linear-gradient(to right, #c84e89, #bf5ae0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.collabo-section-wrap .work-email:focus, .collabo-section-wrap .work-email:active {
  background: -webkit-gradient(linear, left top, right top, from(#2193b0), to(#05a8d1));
  background: linear-gradient(to right, #2193b0, #05a8d1);
  background: -webkit-linear-gradient(to right, #2193b0, #05a8d1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-section-wrapper {
  border: 1px solid #262626;
  width: 100%;
}

.footer-section-wrapper .footer-section__inner {
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;
  padding-top: 2.875rem;
  padding-bottom: 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 63.875em) {
  .footer-section-wrapper .footer-section__inner {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
  }
}

@media screen and (max-width: 63.875em) {
  .footer-section-wrapper .footer-section__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px 0;
  }
}

.footer-section-wrapper .footer-section__inner .footer-socials-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer-section-wrapper .footer-section__inner .footer-socials-wrap .social-link:not(:last-of-type) {
  margin-right: 32px;
}

@media screen and (max-width: 63.875em) {
  .footer-section-wrapper .footer-section__inner .footer-socials-wrap .social-link:not(:last-of-type) {
    margin-right: 16px;
  }
}

.footer-section-wrapper .footer-section__inner .footer-socials-wrap .social-link svg {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 63.875em) {
  .footer-section-wrapper .footer-section__inner .footer-socials-wrap .social-link svg {
    width: 16px;
    height: 16px;
  }
}

.footer-section-wrapper .footer-section__inner .footer-socials-wrap .social-link:hover .social-icon {
  fill: #C84E89;
}

.footer-section-wrapper .footer-section__inner .footer-socials-wrap .social-link:focus .social-icon {
  stroke: #2193B0;
}

.footer-section-wrapper .footer-section__inner .footer-socials-wrap .social-link:hover .drib-icon {
  stroke: #C84E89;
}

.footer-section-wrapper .footer-section__inner .footer-socials-wrap .social-link:focus .drib-icon {
  stroke: #2193B0;
}

.footer-section-wrapper .footer-section__inner .footer-socials-wrap .social-link .drib-icon,
.footer-section-wrapper .footer-section__inner .footer-socials-wrap .social-link .social-icon {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.footer-section-wrapper .footer-section__inner .footer-copyright-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  justify-self: flex-end;
}

.footer-section-wrapper .footer-section__inner .footer-copyright-wrap .copyright-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #e5e5e5;
}

.footer-section-wrapper .footer-section__inner .footer-copyright-wrap .copyright-text .white {
  color: #ffffff;
}

.case-hero-wrap {
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;
  margin-top: 122px;
}

@media screen and (max-width: 63.875em) {
  .case-hero-wrap {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    margin-top: 74px;
  }
}

.case-hero-wrap .case-hero-header {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

@media screen and (max-width: 63.875em) {
  .case-hero-wrap .case-hero-header {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    max-width: 98%;
    text-align: left;
  }
}

.case-hero-wrap .case-hero-outline-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 72px 0;
  max-width: 80%;
}

@media screen and (max-width: 63.875em) {
  .case-hero-wrap .case-hero-outline-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 40px 54px;
    margin-right: 5%;
    max-width: 100%;
  }
}

@media screen and (max-width: 35.8125em) {
  .case-hero-wrap .case-hero-outline-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 50px 0;
    margin-right: 0;
  }
}

.case-hero-wrap .case-hero-outline-wrap .case-outline__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.case-hero-wrap .case-hero-outline-wrap .case-outline__inner .case-outline-header,
.case-hero-wrap .case-hero-outline-wrap .case-outline__inner .case-outline-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: center;
}

.case-hero-wrap .case-hero-outline-wrap .case-outline__inner [class].case-outline-header {
  color: #999999;
}

.case-hero-wrap .case-hero-outline-wrap .case-outline__inner .case-outline-text {
  color: #ffffff;
}

.case-hero-wrap .case-hero-outline-wrap .case-outline__inner .case-outline-text:not(:last-of-type) {
  margin-bottom: 24px;
}

.probs-section-wrap {
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;
  margin-top: 148px;
  margin-bottom: 88px;
}

@media screen and (max-width: 63.875em) {
  .probs-section-wrap {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    margin-top: 56px;
    margin-bottom: 48px;
  }
}

.probs-section-wrap .probs-section-paragragh {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 64px;
          column-gap: 64px;
}

@media screen and (max-width: 63.875em) {
  .probs-section-wrap .probs-section-paragragh {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.case-mini-header {
  font-family: 'lineto-circular-pro';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #999999;
}

@media screen and (max-width: 63.875em) {
  .case-mini-header {
    font-size: 0.75rem;
    line-height: 15px;
  }
}

.section-header-text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  max-width: 70%;
  margin-bottom: 64px;
  margin-top: 24px;
}

@media screen and (max-width: 63.875em) {
  .section-header-text {
    max-width: 100%;
    font-size: 1.125rem;
    line-height: 25px;
    margin-top: 1rem;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 63.875em) {
  .unique-block {
    display: block;
    margin-top: 24px;
  }
}

.header-margin-bottom {
  margin-bottom: 24px;
}

.case-intro-image {
  height: 720px;
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background: #ffffff;
}

@media screen and (max-width: 63.875em) {
  .case-intro-image {
    height: 256px;
  }
}

.wrap-img {
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;
}

@media screen and (max-width: 63.875em) {
  .wrap-img {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
  }
}

.wrap-img .case-one-img2 {
  background: #ffffff url("../../../assets/bitmaps/case-one-two-large.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 627px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 112px;
}

@media screen and (max-width: 48em) {
  .wrap-img .case-one-img2 {
    height: 256px;
    margin-bottom: 48px;
  }
}

.proto-persona-section {
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;
}

@media screen and (max-width: 63.875em) {
  .proto-persona-section {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
  }
}

.proto-persona-section .persona-header {
  margin-bottom: 32px;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #ffffff;
}

@media screen and (max-width: 63.875em) {
  .proto-persona-section .persona-header {
    font-size: 1.125rem;
    line-height: 25px;
    letter-spacing: 0.02em;
  }
}

.proto-persona-section .persona__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0 72px;
}

@media screen and (max-width: 63.875em) {
  .proto-persona-section .persona__inner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 32.12px 0;
  }
}

.proto-persona-section .persona__inner .persona-image-wrap {
  display: block;
}

.proto-persona-section .persona__inner .persona-image-wrap .persona-img {
  height: 270px;
  width: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (max-width: 63.875em) {
  .proto-persona-section .persona__inner .persona-image-wrap .persona-img {
    width: 100%;
    max-width: 100%;
    height: 350px;
  }
}

.proto-persona-section .persona__inner .persona-image-wrap .persona-img-thumbnail-wrap {
  padding: 18px 0 18px 24px;
}

@media screen and (max-width: 63.875em) {
  .proto-persona-section .persona__inner .persona-image-wrap .persona-img-thumbnail-wrap {
    padding: 16.16px 0 16.12px 21.55px;
  }
}

.proto-persona-section .persona__inner .persona-image-wrap .persona-img-thumbnail-wrap .thumbnail-header {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 4px;
}

@media screen and (max-width: 63.875em) {
  .proto-persona-section .persona__inner .persona-image-wrap .persona-img-thumbnail-wrap .thumbnail-header {
    font-size: 0.875rem;
    line-height: 18px;
  }
}

.proto-persona-section .persona__inner .persona-image-wrap .persona-img-thumbnail-wrap .thumbnail-text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #999999;
}

@media screen and (max-width: 63.875em) {
  .proto-persona-section .persona__inner .persona-image-wrap .persona-img-thumbnail-wrap .thumbnail-text {
    font-size: 0.875rem;
  }
}

.proto-persona-section .persona__inner .persona-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 100px;
}

@media screen and (max-width: 63.875em) {
  .proto-persona-section .persona__inner .persona-content-wrap {
    padding-right: 0;
  }
}

.proto-persona-section .persona__inner .persona-content-wrap .persona-section .persona-section-header {
  font-family: 'lineto-circular-pro';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 21px;
}

@media screen and (max-width: 63.875em) {
  .proto-persona-section .persona__inner .persona-content-wrap .persona-section .persona-section-header {
    font-size: 1rem;
    line-height: 20px;
    margin-bottom: 1rem;
  }
}

.proto-persona-section .persona__inner .persona-content-wrap .persona-section .persona-content-list {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #999999;
  list-style-type: initial;
  margin-bottom: 8px;
  list-style-position: inside;
}

@media screen and (max-width: 63.875em) {
  .proto-persona-section .persona__inner .persona-content-wrap .persona-section .persona-content-list {
    font-size: 0.75rem;
    line-height: 15px;
  }
}

.proto-persona-section .persona__inner .persona-content-wrap .persona-hr {
  border: 1px solid #2f2f37;
  margin: 40px 0;
}

@media screen and (max-width: 63.875em) {
  .proto-persona-section .persona__inner .persona-content-wrap .persona-hr {
    margin: 24px 0;
  }
}

.case-image {
  display: block;
  width: 100%;
  height: auto;
}

.case-image-wrap-two {
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;
  margin-top: 74px;
  background: #2193B0;
}

@media screen and (max-width: 63.875em) {
  .case-image-wrap-two {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    margin-top: 32px;
  }
}

.case-image-three {
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;
  margin-top: 74px;
  background: #BF5AE0;
}

@media screen and (max-width: 63.875em) {
  .case-image-three {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    margin-top: 32px;
  }
}

.tiny-tip {
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;
  margin-top: 24px;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #999999;
}

@media screen and (max-width: 63.875em) {
  .tiny-tip {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    margin-top: 16px;
    font-size: 0.625rem;
    line-height: 13px;
  }
}

.more-insight-section {
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;
}

@media screen and (max-width: 63.875em) {
  .more-insight-section {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
  }
}

.more-insight-section .insight__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0 132px;
}

@media screen and (max-width: 63.875em) {
  .more-insight-section .insight__inner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 48px 0;
  }
}

.more-insight-section .insight__inner .more-insight-col .insight-list {
  font-size: 0.875rem;
  line-height: 24px;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  list-style-type: initial;
  margin-bottom: 1rem;
  list-style-position: inside;
}

@media screen and (max-width: 63.875em) {
  .more-insight-section .insight__inner .more-insight-col .insight-list {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 63.875em) {
  .more-insight-section .insight__inner .more-insight-image {
    width: 100%;
  }
}

.sect-mini-header {
  font-family: 'lineto-circular-pro';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #999999;
  margin-top: 112px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

@media screen and (max-width: 63.875em) {
  .sect-mini-header {
    margin-top: 48px;
    margin-bottom: 24px;
    font-size: 0.75rem;
  }
}

.design-iterate-section {
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;
  margin-bottom: 74px;
}

@media screen and (max-width: 63.875em) {
  .design-iterate-section {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
  }
}

@media screen and (max-width: 63.875em) {
  .design-iterate-section {
    margin-bottom: 48px;
  }
}

.design-iterate-section .iterate-content {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 49px;
          column-gap: 49px;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

@media screen and (max-width: 63.875em) {
  .design-iterate-section .iterate-content {
    -webkit-column-count: 1;
            column-count: 1;
    font-size: 0.75rem;
  }
}

.screens-wrap {
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;
  margin-top: 112px;
}

@media screen and (max-width: 63.875em) {
  .screens-wrap {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
  }
}

@media screen and (max-width: 63.875em) {
  .screens-wrap {
    margin-top: 66px;
  }
}

.screens-wrap .screens-header {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 24px;
}

@media screen and (max-width: 63.875em) {
  .screens-wrap .screens-header {
    font-size: 1.125rem;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-align: left;
  }
}

.screens-wrap .screens-text {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #999999;
  margin-bottom: 1rem;
}

@media screen and (max-width: 63.875em) {
  .screens-wrap .screens-text {
    font-size: 0.75rem;
    margin-bottom: 48px;
  }
}

.screens-wrap .screen-case-img {
  display: block;
  width: 100%;
  height: auto;
}

.screens-wrap .space-img {
  margin-top: 113px;
}

@media screen and (max-width: 63.875em) {
  .screens-wrap .space-img {
    margin-top: 32px;
  }
}

.pagination-wrap {
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;
  margin-top: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 63.875em) {
  .pagination-wrap {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
  }
}

@media screen and (max-width: 63.875em) {
  .pagination-wrap {
    margin-top: 48px;
  }
}

.pagination-wrap .previous,
.pagination-wrap .next {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #999999;
}

@media screen and (max-width: 63.875em) {
  .pagination-wrap .previous,
  .pagination-wrap .next {
    font-size: 0.875rem;
  }
}

.pagination-wrap .previous:hover,
.pagination-wrap .next:hover {
  color: #ffffff;
}

.pagination-wrap .next,
.pagination-wrap .previous {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination-wrap .next:hover .pagicon {
  fill: white;
  animation: pagicon-next 2s infinite;
  -webkit-animation: pagicon-next 2s infinite;
}

.pagination-wrap .previous:hover .pagicon {
  fill: white;
  animation: pagicon-previous 2s infinite;
  -webkit-animation: pagicon-previous 2s infinite;
}

.pagination-wrap .pagicon-previous {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.pagination-wrap .pagicon-next {
  margin-left: 8px;
  width: 16px;
  height: 16px;
  z-index: 100;
}

.collabo-section-wrap {
  height: auto;
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;
  margin-top: 188px;
  margin-bottom: 178px;
}

@media screen and (max-width: 63.875em) {
  .collabo-section-wrap {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 56px;
  }
}

.collabo-section-wrap .work-together-header {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

@media screen and (max-width: 63.875em) {
  .collabo-section-wrap .work-together-header {
    font-size: 1.5rem;
    line-height: 33px;
  }
}

.collabo-section-wrap .work-email-label,
.collabo-section-wrap .work-email {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.collabo-section-wrap .work-email-label {
  color: #ffffff;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 63.875em) {
  .collabo-section-wrap .work-email-label {
    font-size: 1rem;
    margin-top: 2.5rem;
    line-height: 20.24px;
  }
}

.collabo-section-wrap .work-email {
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  color: #cccccc;
  text-decoration: underline;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media screen and (max-width: 63.875em) {
  .collabo-section-wrap .work-email {
    font-size: 0.875rem;
    line-height: 17.71px;
  }
}

.collabo-section-wrap .work-email:hover {
  color: #C84E89;
  background: -webkit-gradient(linear, left top, right top, from(#c84e89), to(#bf5ae0));
  background: linear-gradient(to right, #c84e89, #bf5ae0);
  background: -webkit-linear-gradient(to right, #c84e89, #bf5ae0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.collabo-section-wrap .work-email:focus, .collabo-section-wrap .work-email:active {
  background: -webkit-gradient(linear, left top, right top, from(#2193b0), to(#05a8d1));
  background: linear-gradient(to right, #2193b0, #05a8d1);
  background: -webkit-linear-gradient(to right, #2193b0, #05a8d1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-section-wrapper {
  border: 1px solid #262626;
  width: 100%;
}

.footer-section-wrapper .footer-section__inner {
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;
  padding-top: 2.875rem;
  padding-bottom: 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 63.875em) {
  .footer-section-wrapper .footer-section__inner {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
  }
}

@media screen and (max-width: 63.875em) {
  .footer-section-wrapper .footer-section__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px 0;
  }
}

.footer-section-wrapper .footer-section__inner .footer-socials-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer-section-wrapper .footer-section__inner .footer-socials-wrap .social-link:not(:last-of-type) {
  margin-right: 32px;
}

@media screen and (max-width: 63.875em) {
  .footer-section-wrapper .footer-section__inner .footer-socials-wrap .social-link:not(:last-of-type) {
    margin-right: 16px;
  }
}

.footer-section-wrapper .footer-section__inner .footer-socials-wrap .social-link svg {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 63.875em) {
  .footer-section-wrapper .footer-section__inner .footer-socials-wrap .social-link svg {
    width: 16px;
    height: 16px;
  }
}

.footer-section-wrapper .footer-section__inner .footer-socials-wrap .social-link:hover .social-icon {
  fill: #C84E89;
}

.footer-section-wrapper .footer-section__inner .footer-socials-wrap .social-link:focus .social-icon {
  stroke: #2193B0;
}

.footer-section-wrapper .footer-section__inner .footer-socials-wrap .social-link:hover .drib-icon {
  stroke: #C84E89;
}

.footer-section-wrapper .footer-section__inner .footer-socials-wrap .social-link:focus .drib-icon {
  stroke: #2193B0;
}

.footer-section-wrapper .footer-section__inner .footer-socials-wrap .social-link .drib-icon,
.footer-section-wrapper .footer-section__inner .footer-socials-wrap .social-link .social-icon {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.footer-section-wrapper .footer-section__inner .footer-copyright-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  justify-self: flex-end;
}

.footer-section-wrapper .footer-section__inner .footer-copyright-wrap .copyright-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #e5e5e5;
}

.footer-section-wrapper .footer-section__inner .footer-copyright-wrap .copyright-text .white {
  color: #ffffff;
}
/*# sourceMappingURL=case-one.css.map */