@import '../../../styles/global.scss';

.case-hero-wrap {
  width: 100%;
  max-width: calc(100% - 160px); //244px
  margin: 0 auto;
  margin-top: 122px;
  @include deskTopFirst(1022) {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    margin-top: 74px;
  }
  .case-hero-header {
    font-size: calculate-rem(48px);
    font-style: normal;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
    color: $white;

    @include deskTopFirst(1022) {
      font-size: calculate-rem(24px);
      font-style: normal;
      font-weight: 400;
      line-height: 33px;
      letter-spacing: 0em;
      max-width: 98%;
      text-align: left;
    }
  }

  .case-hero-outline-wrap {
    @include row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 72px 0;
    max-width: 80%;
    @include deskTopFirst(1022) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 54px;
      margin-right: 5%;
      max-width: 100%;
    }

    @include deskTopFirst(573) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 50px 0;
      margin-right: 0;
    }

    .case-outline__inner {
      @include column;
      align-items: flex-start;

      .case-outline-header,
      .case-outline-text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.02em;
        text-align: center;
      }
      [class].case-outline-header {
        //class is used to increase specificity. Not proud to use it
        color: $font-color-grey;
      }
      .case-outline-text {
        color: $white;
        &:not(:last-of-type) {
          margin-bottom: 24px;
        }
      }
    }
  }
}

// PROBS
.probs-section-wrap {
  width: 100%;
  max-width: calc(100% - 160px); //244px
  margin: 0 auto;
  margin-top: 148px;
  margin-bottom: 88px;
  @include deskTopFirst(1022) {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    margin-top: 56px;
    margin-bottom: 48px;
  }

  .probs-section-paragragh {
    font-size: calculate-rem(14px);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $white;
    column-count: 2;
    column-gap: 64px;
    @include deskTopFirst(1022) {
      column-count: 1;
    }
  }
}
.case-mini-header {
  font-family: 'lineto-circular-pro';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  color: $font-color-grey;
  //   margin-bottom: calculate-rem(24px);

  @include deskTopFirst(1022) {
    font-size: calculate-rem(12px);
    line-height: 15px;
    // margin-bottom: 1rem;
  }
}

.section-header-text {
  font-size: calculate-rem(32px);
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: $white;
  max-width: 70%;
  margin-bottom: 64px;
  margin-top: 24px;

  @include deskTopFirst(1022) {
    max-width: 100%;
    font-size: calculate-rem(18px);
    line-height: 25px;
    margin-top: 1rem;
    margin-bottom: 32px;
  }
}
.unique-block {
  @include deskTopFirst(1022) {
    display: block;
    margin-top: 24px;
  }
}
.header-margin-bottom {
  margin-bottom: 24px;
}

// IMAGES
.case-intro-image {
  height: 720px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  background: $white;

  @include deskTopFirst(1022) {
    height: 256px;
  }
}

.wrap-img {
  @include double-layer;

  .case-one-img2 {
    background: $white url('../../../assets/bitmaps/case-one-two-large.jpg')
      no-repeat;
    background-position: center;
    background-size: cover;
    height: 627px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 112px;

    @include deskTopFirst(768) {
      height: 256px;
      margin-bottom: 48px;
    }
  }
}

// PERSONA
.proto-persona-section {
  @include double-layer;
  .persona-header {
    margin-bottom: 32px;
    font-size: calculate-rem(24px);
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.02em;
    text-align: left;
    color: $white;

    @include deskTopFirst(1022) {
      font-size: calculate-rem(18px);
      line-height: 25px;
      letter-spacing: 0.02em;
    }
  }

  .persona__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 72px;

    @include deskTopFirst(1022) {
      grid-template-columns: 1fr;
      gap: 32.12px 0;
    }

    .persona-image-wrap {
      display: block;
      .persona-img {
        height: 270px;
        width: 340px;
        object-fit: cover;
        object-position: center;

        @include deskTopFirst(1022) {
          width: 100%;
          max-width: 100%;
          height: 350px;
        }
      }
      .persona-img-thumbnail-wrap {
        padding: 18px 0 18px 24px;

        @include deskTopFirst(1022) {
          padding: 16.16px 0 16.12px 21.55px;
        }
        .thumbnail-header {
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0.02em;
          text-align: left;
          color: $white;
          margin-bottom: 4px;

          @include deskTopFirst(1022) {
            font-size: calculate-rem(14px);
            line-height: 18px;
          }
        }
        .thumbnail-text {
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.02em;
          text-align: left;
          color: $font-color-grey;

          @include deskTopFirst(1022) {
            font-size: calculate-rem(14px);
          }
        }
      }
    }

    .persona-content-wrap {
      @include column;
      justify-content: flex-start;
      padding-right: 100px;

      @include deskTopFirst(1022) {
        padding-right: 0;
      }

      .persona-section {
        .persona-section-header {
          font-family: 'lineto-circular-pro';
          font-size: calculate-rem(20px);
          font-style: normal;
          font-weight: 400;
          line-height: 25px;
          letter-spacing: 0.02em;
          text-align: left;
          color: $white;
          margin-bottom: 21px;

          @include deskTopFirst(1022) {
            font-size: 1rem;
            line-height: 20px;
            margin-bottom: 1rem;
          }
        }

        .persona-content-list {
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.02em;
          text-align: left;
          color: $font-color-grey;
          list-style-type: initial;
          margin-bottom: 8px;
          list-style-position: inside;

          @include deskTopFirst(1022) {
            font-size: calculate-rem(12px);
            line-height: 15px;
          }
        }
      }

      .persona-hr {
        border: 1px solid #2f2f37;
        margin: 40px 0;

        @include deskTopFirst(1022) {
          margin: 24px 0;
        }
      }
    }
  }
}

.case-image {
  display: block;
  width: 100%;
  height: auto;
}

.case-image-wrap-two {
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;
  margin-top: 74px;
  background: $card-bg-2;
  @include deskTopFirst(1022) {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    margin-top: 32px;
  }
}
.case-image-three {
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;
  margin-top: 74px;
  background: $card-bg-3;
  @include deskTopFirst(1022) {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    margin-top: 32px;
  }
}

.tiny-tip {
  width: 100%;
  max-width: calc(100% - 160px); //244px
  margin: 0 auto;
  margin-top: 24px;
  font-size: calculate-rem(12px);
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: center;
  color: $font-color-grey;

  @include deskTopFirst(1022) {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    margin-top: 16px;
    font-size: calculate-rem(10px);
    line-height: 13px;
  }
}

.more-insight-section {
  @include double-layer;
  .insight__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 132px;

    @include deskTopFirst(1022) {
      grid-template-columns: 1fr;
      gap: 48px 0;
    }

    .more-insight-col {
      .insight-list {
        font-size: calculate-rem(14px);
        line-height: 24px;
        text-align: left;
        font-style: normal;
        font-weight: 400;
        color: $white;
        list-style-type: initial;
        margin-bottom: 1rem;
        list-style-position: inside;

        @include deskTopFirst(1022) {
          font-size: calculate-rem(12px);
        }
      }
    }

    .more-insight-image {
      @include deskTopFirst(1022) {
        width: 100%;
      }
    }
  }
}
.sect-mini-header {
  font-family: 'lineto-circular-pro';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  color: $font-color-grey;
  margin-top: 112px;
  margin-bottom: 24px;
  text-transform: uppercase;
  @include deskTopFirst(1022) {
    margin-top: 48px;
    margin-bottom: 24px;
    font-size: calculate-rem(12px);
  }
}

.design-iterate-section {
  @include double-layer;
  margin-bottom: 74px;
  @include deskTopFirst(1022) {
    margin-bottom: 48px;
  }
  .iterate-content {
    column-count: 2;
    column-gap: 49px;
    font-size: calculate-rem(14px);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $white;

    @include deskTopFirst(1022) {
      column-count: 1;
      font-size: calculate-rem(12px);
    }
  }
}

.screens-wrap {
  @include double-layer;
  margin-top: 112px;
  @include deskTopFirst(1022) {
    margin-top: 66px;
  }
  .screens-header {
    font-size: calculate-rem(24px);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $white;
    margin-bottom: 24px;

    @include deskTopFirst(1022) {
      font-size: calculate-rem(18px);
      line-height: 25px;
      letter-spacing: 0.02em;
      text-align: left;
    }
  }
  .screens-text {
    font-size: calculate-rem(14px);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $font-color-grey;
    margin-bottom: 1rem;

    @include deskTopFirst(1022) {
      font-size: calculate-rem(12px);
      margin-bottom: 48px;
    }
  }
  .screen-case-img {
    display: block;
    width: 100%;
    height: auto;
  }
  .space-img {
    margin-top: 113px;
    @include deskTopFirst(1022) {
      margin-top: 32px;
    }
  }
}

// PAGINATION
.pagination-wrap {
  @include double-layer;
  margin-top: 112px;
  @include flex-space-between;
  @include deskTopFirst(1022) {
    margin-top: 48px;
  }
  .previous,
  .next {
    font-size: calculate-rem(24px);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $font-color-grey;

    @include deskTopFirst(1022) {
      font-size: calculate-rem(14px);
    }

    &:hover {
      color: $white;
    }
  }

  .next,
  .previous {
    @include transition;
    @include row;
    align-items: center;
  }

  .next:hover .pagicon {
    fill: white;
    animation: pagicon-next 2s infinite;
    -webkit-animation: pagicon-next 2s infinite;
  }
  .previous:hover .pagicon {
    fill: white;
    animation: pagicon-previous 2s infinite;
    -webkit-animation: pagicon-previous 2s infinite;
  }

  .pagicon-previous {
    margin-right: 8px;
    width: 16px;
    height: 16px;
  }
  .pagicon-next {
    margin-left: 8px;
    width: 16px;
    height: 16px;
    z-index: 100;
  }
}

.collabo-section-wrap {
  height: auto;
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;
  margin-top: 188px;
  margin-bottom: 178px;

  @include deskTopFirst(1022) {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 56px;
  }

  .work-together-header {
    font-size: calculate-rem(48px);
    font-style: normal;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
    color: $white;

    @include deskTopFirst(1022) {
      font-size: calculate-rem(24px);
      line-height: 33px;
    }
  }
  .work-email-label,
  .work-email {
    font-size: calculate-rem(20px);
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
  }
  .work-email-label {
    color: $white;
    margin-top: calculate-rem(56px);
    margin-bottom: 1rem;

    @include deskTopFirst(1022) {
      font-size: calculate-rem(16px);
      margin-top: calculate-rem(40px);
      line-height: 20.24px;
    }
  }
  .work-email {
    @include transition-color;
    color: #cccccc;
    text-decoration: underline;
    cursor: pointer;
    width: max-content;

    @include deskTopFirst(1022) {
      font-size: calculate-rem(14px);
      line-height: 17.71px;
    }

    &:hover {
      color: $card-bg;
      background: linear-gradient(to right, #c84e89, #bf5ae0);
      background: -webkit-linear-gradient(to right, #c84e89, #bf5ae0);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &:focus,
    &:active {
      background: linear-gradient(to right, #2193b0, #05a8d1);
      background: -webkit-linear-gradient(to right, #2193b0, #05a8d1);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

// FOOTER
.footer-section-wrapper {
  border: 1px solid #262626;
  width: 100%;

  .footer-section__inner {
    @include double-layer;
    padding-top: calculate-rem(46px);
    padding-bottom: calculate-rem(44px);
    @include flex-space-between;
    width: 100%;

    @include deskTopFirst(1022) {
      @include column;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 24px 0;
    }

    .footer-socials-wrap {
      flex: 1;

      .social-link {
        &:not(:last-of-type) {
          margin-right: 32px;

          @include deskTopFirst(1022) {
            margin-right: 16px;
          }
        }

        & svg {
          width: 24px;
          height: 24px;

          @include deskTopFirst(1022) {
            width: 16px;
            height: 16px;
          }
        }
        &:hover .social-icon {
          fill: $card-bg;
        }
        &:focus .social-icon {
          stroke: $card-bg-2;
        }

        &:hover .drib-icon {
          stroke: $card-bg;
        }
        &:focus .drib-icon {
          stroke: $card-bg-2;
        }
        .drib-icon,
        .social-icon {
          @include transition;
        }
      }
    }
    .footer-copyright-wrap {
      flex: 1;
      justify-self: flex-end;

      .copyright-text {
        display: flex;
        justify-content: flex-end;
        font-size: calculate-rem(14px);
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: #e5e5e5;

        .white {
          color: $white;
        }
      }
    }
  }
}
