@import '../../../styles/global.scss';

.case-hero-wrap {
  width: 100%;
  max-width: calc(100% - 160px); //244px
  margin: 0 auto;
  margin-top: 122px;
  @include deskTopFirst(1022) {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    margin-top: 74px;
  }
  .case-hero-header {
    font-size: calculate-rem(48px);
    font-style: normal;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
    color: $white;

    @include deskTopFirst(1022) {
      font-size: calculate-rem(24px);
      font-style: normal;
      font-weight: 400;
      line-height: 33px;
      letter-spacing: 0em;
      max-width: 98%;
      text-align: left;
    }
  }

  .case-hero-outline-wrap {
    @include row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 72px 0;
    max-width: 80%;
    @include deskTopFirst(1022) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 54px;
      margin-right: 5%;
      max-width: 100%;
    }

    @include deskTopFirst(573) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 50px 0;
      margin-right: 0;
    }

    .case-outline__inner {
      @include column;
      align-items: flex-start;

      .case-outline-header,
      .case-outline-text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.02em;
        text-align: center;
      }
      [class].case-outline-header {
        //class is used to increase specificity. Not proud to use it
        color: $font-color-grey;
      }
      .case-outline-text {
        color: $white;
        &:not(:last-of-type) {
          margin-bottom: 24px;
        }
      }
    }
  }
}

// PROBS
.probs-section-wrap {
  width: 100%;
  max-width: calc(100% - 160px); //244px
  margin: 0 auto;
  margin-top: 148px;
  margin-bottom: 88px;
  @include deskTopFirst(1022) {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    margin-top: 56px;
    margin-bottom: 48px;
  }

  .probs-section-paragragh {
    font-size: calculate-rem(14px);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $white;
    margin-top: 64px;
    column-count: 2;
    column-gap: 64px;
    @include deskTopFirst(1022) {
      margin-top: 32px;
      column-count: 1;
    }
  }
}
.case-mini-header {
  font-family: 'lineto-circular-pro';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  color: $font-color-grey;
  margin-bottom: calculate-rem(24px);

  @include deskTopFirst(1022) {
    font-size: calculate-rem(12px);
    line-height: 15px;
    margin-bottom: 1rem;
  }
}

.section-header-text {
  font-size: calculate-rem(32px);
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: $white;
  max-width: 70%;

  @include deskTopFirst(1022) {
    max-width: 100%;
    font-size: calculate-rem(18px);
    line-height: 25px;
  }
}
.unique-block {
  @include deskTopFirst(1022) {
    display: block;
    margin-top: 24px;
  }
}

// IMAGES
.case-intro-image {
  height: 720px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  background: $white;

  @include deskTopFirst(1022) {
    height: 256px;
  }
}

.wrap-img {
  @include double-layer;

  .case-one-img2 {
    background: $white url('../../../assets/bitmaps/case-one-two-large.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 627px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 112px;

    @include deskTopFirst(768) {
        height: 256px;
        margin-bottom: 48px;
    }
  }
}
