.product-info-modal-wrapper {

    background: $white;
    width: 100%;
    height: 100%;

    @include mobileFirst(769) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #fff, $alpha: .8);
        padding-top: 100px;
        padding-bottom: 50px;
        z-index: 200;
    }

    & .product-info-modal__inner {
        height: 100%;
        width: 100%;
        margin-bottom: 40px;
        background: $white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 400;
        overflow-y: scroll;
        @include scrollbar-hide;

        @include mobileFirst(769) {
            width: 65%;
            max-width: 100%;
            margin: 0 auto;
            height: auto;
            overflow-y: scroll;
            @include scrollbar-show(5px, 5px, $soft-grey, .5em, $fade-grey, $soft-grey);
            box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.1);
            position: static;
        }
    }

    & .product-info-top-header-wrap {

        @include row;
        align-items: center;
        height: 80px;
        background: #f9f9f9;
        max-width: 100%;
        width: 100%;
        position: relative;

        & .product-info-header {
            width: 100%;
            font-weight: 450;
            font-size: calculate-rem(18px);
            text-align: center;
            letter-spacing: 0.03em;
            color: $font-color;
            text-align: center;

            @include mobileFirst(769) {
                font-size: calculate-rem(24px);
            }
        }

        & .product-info-close-modal-btn {

            width: 35px;
            height: auto;
            position: absolute;
            top: 15px;
            right: 15px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            @include border-radius(50%);

            @include mobileFirst(769) {
               
                margin-right: 33px;
                cursor: pointer;
                width: 42px;
                height: auto;
                position: absolute;

                &:hover {
                    @include scale(1.1);
                }
            }
        }
    }

    & .product-info-content-wrap {

        padding: 32px 40px 58px 36px;

        .product-info-content__inner {

            margin-bottom: 2.3rem;

            & .product-info-content__header {

                font-weight: 500;
                font-size: calculate-rem(18px);
                letter-spacing: 0.03em;
                text-transform: capitalize;
                color: $font-color;
                margin-bottom: 1rem;
            }

            & .product-info__list {

                font-weight: 300;
                font-size: calculate-rem(14px);
                letter-spacing: 0.05em;
                color: $font-color;
            }
        }
    }
}
