// HERO
.sing-res-hero {
    width: 100%;
    height: 230px;
    background-blend-mode: multiply;
    width: 100%;
    height: 189px;
    background: rgba(69, 92, 25, 0.4) url('../../assets/images/bitmaps/home-hero-bg.jpg') no-repeat center;
    background-size: cover;
    position: relative;

    @include mobileFirst(769) {
        height: 671px;
    }

    .hero-card-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @include mobileFirst(769) {
            align-items: center;
            justify-content: flex-start;
        }

        .hero-card__inner {
            height: 230px;
            width: 100%;
            max-width: calc(100% - 14px);
            margin: 0 auto;
            background: $white;
            margin-top: 80px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            @include border-radius(3px);
            padding: 29px 28px 30px 22px;

            @include mobileFirst(769) {
                width: 587px;
                height: 334px;
                max-width: calc(100% - 83px);
                margin: 191px 0 0 83px;
                box-shadow: none;
                padding: 64px 55px 63px 60px;
            }

            // BACK BTN
            .back-btn-wrap {
                width: 100%;
                @include flex-space-between;

                .back-arrow-btn__inner {

                    @include flex-row;

                    .back-btn {
                        width: 32px;
                        height: 32px;
                        @include flex-row;
                        @include border-radius(50%);
                        background: $grey;
                        border: none;
                        position: relative;
                        outline: none;

                        @include mobileFirst(769) {
                            width: 42px;
                            height: 42px;
                            cursor: pointer;
                            @include trans(0.2s);

                            &:hover {
                                @include scale(1.2);
                                box-shadow: 0 5px 15px rgba($color: $grey, $alpha: 1);
                            }

                            &:focus {
                                @include scale(1);
                                box-shadow: none;
                            }
                        }

                        svg {
                            @include absCenter;
                            width: 30px;

                            @include mobileFirst(769) {
                                width: 2.5rem;
                            }
                        }
                    }

                    .back-btn-text {

                        font-weight: 450;
                        font-size: calculate-rem(12px);
                        letter-spacing: 0.03em;
                        color: $font-color;
                        margin-left: 10px;

                        @include respond(tab) {

                            margin-left: 20px;
                            font-size: calculate-rem(18px);
                        }
                    }

                }

                .about-restaurant-link {
                    font-weight: 450;
                    font-size: calculate-rem(9px);
                    text-align: right;
                    letter-spacing: 0.05em;
                    text-decoration-line: underline;
                    text-transform: uppercase;
                    color: $brand-color;
                    cursor: pointer;

                    @include mobileFirst(769) {
                        font-size: calculate-rem(12px);
                        cursor: pointer;
                        @include transition-color;

                        &:hover {
                            color: darken($color: $brand-color, $amount: 6%);
                        }
                    }
                }
            }

            // REST NAME
            .hero-rest-name-wrap {
                @include flex-space-between;
                margin-top: calc-em(16px);
                margin-bottom: calc-em(5px);

                @include mobileFirst(769) {
                    margin-top: calc-em(28px);
                }

                .hero-rest-name {
                    font-weight: 500;
                    font-size: calculate-rem(14px);
                    letter-spacing: 0.03em;
                    color: $dark-brand-color;

                    @include min-max(319, 374) {

                        font-size: calculate-rem(10px);
                    }

                    @include mobileFirst(769) {
                        font-size: calculate-rem(20px);
                        font-weight: 700;
                    }
                }

                .hero-rest-name--icons-wrap {
                    .hero-restName-icon {
                        width: 18px;
                        height: 18px;

                        &:not(:last-child) {
                            margin-right: calc-em(5px);
                        }

                        @include mobileFirst(769) {
                            width: 26px;
                            height: 26px;
                        }
                    }
                }
            }

            // REST NAME ENDS

            // OFFERINGS TEXT
            .hero-offering-text-wrap {

                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: calc-em(21px);

                .hero-offerings-text {
                    font-weight: 300;
                    font-size: calculate-rem(10px);
                    line-height: 154.1%;
                    letter-spacing: 0.05em;
                    color: $font-color;
                    margin-bottom: calc-em(16px);

                    @include mobileFirst(769) {
                        flex: 1;
                        font-weight: 300;
                        font-size: calculate-rem(12.8px);
                    }
                }

                // DESKTOP VIEW ALONE
                .rest-listing-rating {
                    display: none;

                    @include mobileFirst(769) {
                        @include flex-row;
                        padding-left: calc-em(7px);

                        .rating-number {
                            font-weight: 600;
                            font-size: calculate-rem(24px);
                            line-height: 154.1%;
                            letter-spacing: 0.03em;
                            color: $font-color;
                        }

                        .listing-reviews {
                            font-weight: 450;
                            font-size: calculate-rem(10px);
                            line-height: 154.1%;
                            letter-spacing: 0.03em;
                            text-decoration-line: underline;
                            -moz-text-decoration-line: underline;
                            color: $font-color;
                            margin-top: .3em;
                            margin-left: calc-em(5px);
                        }
                    }
                }

                .star-rating-wrap {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                        margin: 0 0.2rem 0.1rem 0;
                    }
                }
            }

            // OFFERINGS TEXT

            // PRICE LISTINGS WITH MENU
            .hero-rest-listing-wrap {
                @include flex-space-between;

                .hero-rest-listing__col {
                    .hero-rest__listing-header {
                        font-weight: 450;
                        font-size: 10px;
                        line-height: 154.1%;
                        letter-spacing: 0.03em;
                        color: #c4c4c4;
                        margin-bottom: 4px;
                        font-weight: bold;

                        @include min-max(369, 424) {
                            font-size: calculate-rem(8px);
                        }

                        @include min-max(338, 368) {
                            font-size: calculate-rem(7px);
                        }

                        @include min-max(320, 337) {
                            font-size: calculate-rem(5px);
                        }

                        @include mobileFirst(769) {
                            font-size: calculate-rem(12px);
                        }
                    }

                    .hero-rest__listing-detail {
                        color: $font-color;
                        font-size: calculate-rem(8px);

                        @include mobileFirst(769) {
                            font-size: calculate-rem(12px);
                        }
                    }
                }

                .hero-rest__listing-menu {
                    @include mobileFirst(769) {
                        display: none;
                    }

                    .menuToggle {
                        position: relative;
                        width: 32px;
                        height: 32px;
                        background: $soft-grey;
                        @include border-radius(50%);
                        @include flex-row;
                        border: none;
                        outline: none;

                        .menuToggle-icon {
                            width: 15px;
                            height: 15px;
                        }
                    }

                    .menu {
                        position: absolute;
                        display: none;
                        right: 14px;
                        background: $white;
                        width: max-content;
                        z-index: 10;
                        height: auto;
                        @include border-radius(3px);
                        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
                        padding: 20px;

                        ul {
                            li {
                                padding: 10px 0;
                            }
                        }
                    }
                }
            }

            // PRICE LISTINGS WITH MENU ENDS
        }
    }
}

// ENDS
