.user-order-list-wrap {
  display: none;

  @include mobileFirst(769) {
    display: flex;
    flex-direction: column;
    background: $white;
    width: 40vw;
    height: 100%;
    margin-bottom: calc-em(92px);
    padding: 20px 15px 26px 10px;
    @include border-radius(3px);
  }

  @include mobileFirst(1080) {
    padding: 30px 35px 26px 30px;
  }

  .user-oder__top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 29px;

    .top-header__header {
      font-weight: 500;
      font-size: calculate-rem(15px);
      line-height: 154.1%;
      letter-spacing: 0.03em;
      color: $font-color;

      @include min-max(769, 1080) {
        font-size: calculate-rem(18px);
      }

      @include mobileFirst(1081) {
        font-size: calculate-rem(28px);
      }
    }

    .top-header__link {
      font-weight: 450;
      font-size: calculate-rem(10px);
      line-height: 154.1%;
      text-align: right;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      cursor: pointer;
      @include btn-style(transparent, $brand-color, auto, auto, none);

      @include mobileFirst(1081) {
        font-size: calculate-rem(12px);
      }
    }
  }

  .horizontal-line {
    @include horizontal-line(1px, solid, $grey, 100%);
    margin: calc-em(21px) 0;
  }
}

// ORDER DISPLAY
.order-display-wrap {
  display: flex;
  flex-direction: column;
}

.order-display__inner {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 50px;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 15px;
  }
}

.edit-icon {
  margin-right: 12px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  @include btn-style(transparent, none, 15px, 15px, none);

  @include mobileFirst(1080) {
    width: 20px;
    height: 20px;
  }
}

.counter-btn {
  margin-right: 9px;
  width: 15px;
  height: auto;
  background: $semi-light-grey;
  border: none;
  outline: none;
  @include border-radius(50%);
  cursor: pointer;

  @include mobileFirst(1080) {
    margin-right: 12px;
    width: 24px;
    height: 24px;
  }

  &:hover {
    border-bottom: 3px solid rgba($color: $font-color, $alpha: 0.3);
  }

  &:active {
    border-bottom: 0.5px solid rgba($color: $font-color, $alpha: 0.6);
  }
}

.product-name {
  font-weight: 600;
  font-size: calculate-rem(10px);
  line-height: 154.1%;
  letter-spacing: 0.03em;
  color: $font-color;
  @include line-clamp(1);
  align-self: center;
  padding-right: 1.5em;

  @include mobileFirst(1024) {
    font-size: calc-em(10px);
  }

  @include mobileFirst(1367) {
    font-size: calculate-rem(14px);
  }
}

.edit-content-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .edit-icon {
    margin-right: 12px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    @include btn-style(transparent, none, 15px, 15px, none);

    @include mobileFirst(1080) {
      width: 20px;
      height: 20px;
    }
  }

  .counter-wrap {
    @include flex-space-between;

    .counter-btn {
      margin-right: 9px;
      width: 15px;
      height: auto;
      background: $semi-light-grey;
      border: none;
      outline: none;
      @include border-radius(50%);
      cursor: pointer;

      @include mobileFirst(1080) {
        margin-right: 12px;
        width: 24px;
        height: 24px;
      }

      &:hover {
        border-bottom: 3px solid rgba($color: $font-color, $alpha: 0.3);
      }

      &:active {
        border-bottom: 0.5px solid rgba($color: $font-color, $alpha: 0.6);
      }
    }

    .product-counter-display {
      margin-right: 12px;
      font-weight: 600;
      font-size: calculate-rem(10px);
      line-height: 154.1%;
      letter-spacing: 0.03em;
      color: $font-color;
      cursor: default;

      @include mobileFirst(1024) {
        font-size: calc-em(12px);
      }

      @include mobileFirst(1367) {
        font-size: calculate-rem(14px);
        margin-right: 12px;
      }
    }
  }

  .product-amount {
    margin-left: 8px;
    font-weight: 500;
    font-size: calc-em(10px);
    color: $font-color;

    @include mobileFirst(1024) {
      font-size: calc-em(10px);
    }

    @include mobileFirst(1367) {
      font-size: calculate-rem(14px);
      margin-left: 14px;
    }
  }

  .counter-wrap {
    @include flex-space-between;
  }
}

.cancel-item-wrap {
  display: flex;
  justify-content: flex-end;

  .cancel-item-icon {
    cursor: pointer;
  }
}

.edit-content-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.order-subdetail {
  height: 0;
  width: 100%;
  outline: 0;
  border-width: 0 0 1px;
  border-color: $grey;
  font-weight: 300;
  letter-spacing: 0.03em;
  color: $soft-grey;
  padding-bottom: 0.8em;
  padding-right: 0.3em;
  padding-top: 1em;
  margin-top: calc-em(-15px);
  margin-bottom: calc-em(15px);
  font-size: calculate-rem(10px);
  @include placeholder($soft-grey);
  @include transition;
  @include border-radius(0);

  &:focus {
    color: $brand-color;
    @include placeholder($brand-color);
    caret-color: $brand-color;
    border-color: $brand-color;
    outline: 0;
    border-width: 0 0 1px;
  }
}

.delete-save-wrap {
  @include row;
  justify-content: flex-start;

  .action-link {
    font-weight: 450;
    font-size: calculate-rem(10px);
    letter-spacing: 0.03em;
    cursor: pointer;
    @include trans(0.1s);
    @include btn-style(transparent, inherit, auto, auto, none);
    margin-bottom: 1.5em;
  }

  .delete {
    color: $tomato;
    margin-right: calc-em(14px);

    &:hover {
      color: lighten($color: $tomato, $amount: 10%);
    }

    &:focus {
      color: darken($color: $tomato, $amount: 8%);
    }
  }

  .save {
    color: $brand-color;
  }
}

.subtotal-horizontal-line {
  @include horizontal-line(1px, solid, $fade-grey, 100%);
}

.total-amount-wrap {
  margin-top: calc-em(22px);
}

.amount-breakdown__wrap {
  @include flex-space-between;
  margin-bottom: calc-em(25px);

  &:last-child {
    margin-bottom: 0;
  }

  .break-down-text {
    font-weight: 450;
    font-size: calculate-rem(14px);
    letter-spacing: 0.03em;
    color: $font-color;
  }

  .total-text {
    color: $dark-brand-color;
  }

  .total-amount {
    color: $dark-brand-color;
    font-weight: bold;
  }
}

.checkout-btn {
  @include btn-style($brand-color, $white, 100%, 52px, none);
  @include border-radius(3px);
  @include trans(0.2s);
  font-weight: 450;
  font-size: calculate-rem(18px);
  letter-spacing: 0.03em;
  color: $white;
  text-align: center;
  margin-top: calc-em(16px);
  cursor: pointer;

  &:hover {
    background: darken($color: $brand-color, $amount: 5%);
    border-bottom: 5px solid rgba($color: $dark-brand-color, $alpha: 0.8);
  }

  &:active {
    padding-top: 1.5px;
    border-bottom: 1.5px solid rgba($color: $dark-brand-color, $alpha: 0.8);
  }
}
