.checkout-dropdown-wrap {
  height: 100%;
  width: 100vw;
  background: $white;
  padding: 34px 0 89px 0;

  .checkout-dropdown__inner {
    height: 100%;
    width: 100%;
    max-width: calc(100% - 40px);
    margin: 0 auto;
    background: $white;

    .inner__checkout-header {
      @include flex-space-between;

      .user-checkout-header {
        font-style: normal;
        font-weight: 450;
        font-size: calculate-rem(18px);
        letter-spacing: 0.03em;
        color: $font-color;
      }

      .delete-checkout-btn {
        font-weight: 450;
        font-size: calculate-rem(10px);
        text-align: right;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        @include btn-style(transparent, $brand-color, auto, auto, none);

        &:focus {
          color: darken($color: $brand-color, $amount: 5%);
        }
      }
    }

    & .header-horizontal-line {
      @include horizontal-line(1px, solid, $grey, 100%);
      margin: 10px 0 17px 0;
    }

    .checkout-item-count-wrap {
      // @include flex-space-between;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 50px;
      margin-bottom: calc-em(25px);

      .checkout-item-name {
        font-weight: 450;
        font-size: calculate-rem(12px);
        letter-spacing: 0.03em;
        color: $font-color;
        @include line-clamp(1);
      }

      .checkout-items-wrap {
        @include flex-space-between;
        justify-content: center;

        .checkout-items__edit-icon {
          margin-right: calc-em(10px);
          @include btn-style(transparent, none, 15px, 15px, none);

          @include mobileFirst(321) {
            margin-right: calc-em(14.97px);
          }
        }

        .checkout-counter-wrap {
          .checkout-counter-btn {
            @include border-radius(50%);
            @include btn-style($semi-light-grey, $font-color, 24px, 24px, none);
          }

          .product-counter-display {
            margin-left: calc-em(10px);
            margin-right: calc-em(10px);
            font-weight: 400;
            color: $font-color;
            font-size: calculate-rem(14px);

            @include mobileFirst(321) {
              margin-right: calc-em(14.97px);
              margin-left: calc-em(14.97px);
            }
          }
        }

        .checkout-product-amount {
          margin-left: calc-em(14.97px);
          font-weight: 500;
          font-size: calculate-rem(12px);
          letter-spacing: 0.05em;
          color: $font-color;

          @include mobileFirst(321) {
            margin-left: calc-em(30px);
          }
        }
      }

      .checkout-cancel-item-wrap {

        display: flex;
        justify-content: flex-end;
        cursor: pointer;

        .checkout-cancel-item-icon {
          width: 15px;
          height: 15px;
        }
      }
    }

    .checkout-options-input {
      width: 100%;
      border: none;
      outline: none;
      border-bottom: 1px solid $grey;
      padding-bottom: 0.8em;
      padding-right: 0.3em;
      font-weight: 300;
      font-size: calculate-rem(10px);
      letter-spacing: 0.03em;
      @include placeholder($soft-grey);
      @include transition;

      &:focus {
        color: $brand-color;
        border-bottom-color: $brand-color;
        caret-color: $brand-color;
      }
    }

    .options-update-wrap {
      margin-top: calc-em(15px);
      margin-bottom: calc-em(23px);
      @include row;
      justify-content: flex-start;

      .options-update-btn {
        font-style: normal;
        font-weight: 450;
        font-size: calculate-rem(10px);
        letter-spacing: 0.03em;
        outline: none;
        border: none;
        background: none;
      }

      .delete-update {
        color: $tomato;
        margin-right: calc-em(15px);
      }

      .save-update {
        color: $brand-color;
      }
    }

    .sub-total-horizontal-line {
      @include horizontal-line(1px, solid, $grey, 100%);
    }

    .check-dd-btn {
      margin-top: 40px;

      &:focus {
        border-bottom: none;
      }
    }
  }
}
