$brand-color: #99ca3b;
$dark-brand-color: #455c19;
$light-brand-color: #cff09e;
$semi-light-brand-color: #a8dba8;
$tomato: #ec362a;
$fade-tomato: #b8647d;
$light-tomato: #fcf5f2;
$grey: #e5e5e5;
$soft-grey: #c4c4c4;
$fade-grey: #e8eddf;
$light-grey: #f9f9f9;
$white: #ffffff;
$font-color: #62645d;
$brick: #8a5133;
$semi-light-grey: #f1f1f1;
