.fonts-failed body {
    font-family: Helvetica, Arial, sans-serif;
}

.fonts-failed h1,
.fonts-failed h2,
.fonts-failed h3,
.fonts-failed h4,
.fonts-failed h5,
.fonts-failed h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

// FONT-FACE CIRUCLAR STD
@font-face {
    font-family: 'CircularStd';
    font-style: normal;
    font-weight: lighter;
    src: url('../../assets/font/CircularStd-Book.ttf') format('truetype');
    font-display: swap;
}

// @font-face {
//   font-family: 'CircularStd';
//   font-style: normal;
//   font-weight: 400;
//   src: url('../../assets/font/CircularStd-Medium.ttf') format('truetype');
//   font-display: swap;
// }

// @font-face {
//   font-family: 'CircularStd';
//   font-style: normal;
//   font-weight: 700;
//   src: url('../../assets/font/CircularStd-Bold.ttf') format('truetype');
//   font-display: swap;
// }

/* @font-face {
    font-family: 'CircularStd';
    font-style: normal;
    font-weight: bolder;
    src: url('../../assets/font/CircularStd-Black.ttf') format('truetype');
    font-display: swap;
  } */
