@import '../../../styles/global.scss';

.hero-section-wrap {
  width: 100%;
  height: auto;
  background: url(../../../assets/bitmaps/hero-BG-Image.svg);
  background-repeat: repeat-x;
  background-position: 0 bottom;
  animation: 45s slide-bg infinite linear;
  -webkit-animation: 45s slide-bg infinite linear;
  padding-bottom: calculate-rem(148px);
  @include deskTopFirst(900) {
    height: auto;
    padding-bottom: 0;
  }
  .hero-section__inner {
    width: 100%;
    max-width: calc(100% - 160px);
    margin: 0 auto;
    margin-top: 248px;

    @include deskTopFirst(900) {
      max-width: calc(100% - 48px);
      margin: 0 auto;
      margin-top: 148px;
    }

    .hero-section--content {
      .hello-text-wrap {
        font-size: calculate-rem(13px);
        color: $font-color-grey;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.05em;
        text-align: left;

        .hello-icon {
          margin-left: calc-em(8px);
        }
      }

      .hero-header {
        color: $white;
        font-weight: normal;
        font-size: calculate-rem(48px);
        font-style: normal;
        font-weight: 400;
        line-height: 66px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: calculate-rem(16px);
        margin-bottom: calculate-rem(24px);

        @include deskTopFirst(900) {
          font-size: calculate-rem(28px);
          line-height: 38px;
          margin-top: calculate-rem(16px);
          margin-bottom: calculate-rem(16px);
        }
      }

      .hero-sub-text {
        margin-bottom: calculate-rem(24px);
        font-size: calculate-rem(14px);
        color: #bfbfbf;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-align: left;
        max-width: 30%;

        @include deskTopFirst(900) {
          max-width: 50%;
        }
        @include deskTopFirst(580) {
          max-width: 90%;
        }
        @include deskTopFirst(360) {
          max-width: 97%;
        }

        .to-current-work-link {
          color: $font-color-grey;
          text-decoration: underline;
        }
      }

      .resume-link {
        font-size: calculate-rem(14px);
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-align: left;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        color: $white;

        .resume-icon {
          margin-left: 8px;
        }
      }
    }
  }
}

.scroll-down-wrap {
  display: flex;
  flex-direction: column;
  position: relative;

  .scroll-down {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    @include border-radius(20px);
    border: 2px solid $white;
    height: 35px;
    width: 25px;
    margin: 0 auto;

    &::before {
      animation: scrollDownAnimation 2s infinite;
      -webkit-animation: scrollDownAnimation 2s infinite;
      background-color: $white;
      @include border-radius(100%);
      content: '';
      height: 6px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: 10px;
      width: 6px;
    }
  }

  .scroll-down-text {
    color: $white;
    text-align: center;
    margin-top: calculate-rem(12px);
  }
}

// .scroll-down-wrap {
//   display: flex;

//   .scroll-down__inner {
//     position: absolute;
//     width: 20px;
//     height: 30px;
//     bottom: 0;
//     .scroll-down {
//       border: 2px solid #fff;
//       @include border-radius(20px);
//       bottom: 0;
//       height: 30px;
//       width: 20px;
//       left: 50vw;
//       margin: 0 auto;
//       position: absolute;
//       right: 0;
//     }

//     &::before {
//       background-color: #fff;
//       @include border-radius(100%);
//       content: '';
//       height: 6px;
//       left: 50.37vw;
//       margin: 0 auto;
//       position: absolute;
//       right: 0;
//       top: 2px;
//       width: 6px;
//       animation: scrollDownAnimation 2s infinite;
//       -webkit-animation: scrollDownAnimation 2s infinite;
//     }
//   }

//   @keyframes scrollDownAnimation {
//     0% {
//       opacity: 0;
//       transform: translate(0, 0);
//       -webkit-transform: translate(0, 0);
//       -moz-transform: translate(0, 0);
//       -ms-transform: translate(0, 0);
//       -o-transform: translate(0, 0);
//     }

//     40% {
//       opacity: 1;
//     }

//     80% {
//       opacity: 0;
//       transform: translate(0, 20px);
//       -webkit-transform: translate(0, 20px);
//       -moz-transform: translate(0, 20px);
//       -ms-transform: translate(0, 20px);
//       -o-transform: translate(0, 20px);
//     }
//     100% {
//       opacity: 0;
//     }
//   }

//   .scroll-down-text {
//     color: $white;
//     display: grid;
//     place-items: center;
//   }
// }
