@import '../../../styles/global.scss';

.hero-section {
  width: 100%;
  &__inner {
    height: 70vh;
    width: 100%;
    max-width: calc(100% - 160px);
    margin: 0 auto;
    margin-top: 248px;

    @include deskTopFirst(900) {
      max-width: calc(100% - 48px);
      margin: 0 auto;
      margin-top: 148px;
    }

    .hero-section--content {
      .hello-text-wrap {
        font-size: calculate-rem(13px);
        color: $font-color-grey;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.05em;
        text-align: left;

        .hello-icon {
          margin-left: calc-em(8px);
        }
      }

      .hero-header {
        color: $white;
        font-weight: normal;
        font-size: calculate-rem(48px);
        font-style: normal;
        font-weight: 400;
        line-height: 66px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: calculate-rem(16px);
        margin-bottom: calculate-rem(24px);
      }

      .hero-sub-text {
        margin-bottom: calculate-rem(24px);
        font-size: calculate-rem(14px);
        color: #bfbfbf;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-align: left;

        .to-current-work-link {
          color: $font-color-grey;
          text-decoration: underline;
        }
      }

      .resume-link {
        font-size: calculate-rem(14px);
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-align: left;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        color: $white;

        .resume-icon {
            margin-left: 8px;
        }
      }
    }
  }
}
