// FOOTER STYLES
.footer-wrapper {
    padding-top: 17px;
    padding-bottom: 19px;
    border-top: 1px solid #e8eddf;
    z-index: 300;

    .footer__inner {
        width: 100%;
        max-width: calc(100% - 43px);
        margin: 0 auto;

        @include column;

        @include mobileFirst(769) {
            max-width: calc(100% - 164px);
            margin: 0 auto;
            @include flex-space-between;
        }

        .top-links {
            @include row;
            justify-content: space-between;
            align-items: center;

            @include mobileFirst(769) {
                justify-content: flex-start;
            }

            .top-link {
                font-weight: 450;
                font-size: calculate-rem(10px);
                line-height: 154.1%;
                letter-spacing: 0.03em;
                color: $font-color;
                @include row;
                justify-content: center;

                @include deskTopFirst(374) {
                    font-size: calculate-rem(8px);
                }

                @include mobileFirst(1081) {
                    align-items: center;
                    cursor: pointer;
                    margin-right: 10px;
                    @include transition-color;
                    font-size: calculate-rem(14px);

                    &:hover {
                        color: $brand-color;
                    }
                }

                .footer-icon {
                    margin-right: 0.5em;
                    width: 14px;
                    height: 14px;

                    @include min-max(769, 1080) {
                        width: 13px;
                        height: 13px;
                        margin-right: 0.7em;
                    }

                    @include mobileFirst(1080) {
                        width: 19px;
                        height: 19px;
                        margin-right: 0.7em;
                    }
                }
            }
        }

        .middle-links {
            @include row;
            justify-content: center;
            align-items: center;

            margin-top: 20px;
            margin-bottom: 19px;
            width: 100%;

            .right-margin {
                margin-right: 30px;
            }

            @include mobileFirst(769) {
                width: auto;
            }
        }

        .footer-text {
            font-weight: 450;
            font-size: calculate-rem(10px);
            letter-spacing: 0.03em;
            color: $soft-grey;

            @include min-max(769, 1080) {

                font-size: calculate-rem(11px);
            }

            @include mobileFirst(1081) {
                font-size: calculate-rem(14px);
                cursor: pointer;

                &:hover {
                    color: $brand-color;
                }
            }
        }

        .footer-bottom {
            font-weight: 500;
            font-size: calculate-rem(10px);
            letter-spacing: 0.03em;
            color: $soft-grey;
            text-align: center;

            @include mobileFirst(1081) {
                font-size: calculate-rem(14px);
            }
        }
    }
}

// FOOTER ENDS
