.nav-wrapper {
  width: 100%;
  height: 70px;
  background: $white;

  @include mobileFirst(769) {
    z-index: 40;
    position: fixed;
    max-width: calc(100% - 4px);
  }

  .nav__logo {
    
    width: 80px;
    height: auto;

    @include mobileFirst(769) {
      width: 150px;
      height: auto;
    }
  }

  .links {
    @include flex-space-between;
    height: 100%;
    width: 100%;
    max-width: calc(100% - 24px);
    margin: 0 14px 0 10px;
    position: relative;

    @include mobileFirst(321) {
      max-width: calc(100% - 44px);
      margin: 0 30px 0 14px;
    }

    @include mobileFirst(769) {
      max-width: calc(100% - 149px);
      margin: 0 72px 0 77px;
    }

    .right-nav {
      @include row;
      align-items: center;

      .item-indicator {
        @include mobileFirst(769) {
          display: none;
        }

        @include row;
        align-items: center;
        font-weight: 400;
        font-size: calculate-rem(14px);
        color: $font-color;

        @include mobileFirst(769) {
          font-size: calculate-rem(16px);
        }

        .item-indicator-icon {
          @include margins(0 5.8px 0 0);

          @include mobileFirst(321) {
            @include margins(0 11.8px 0 0);
          }

          @include mobileFirst(769) {
            @include margins(0 12.8px 0 0);
          }
        }
      }

      .vertical-rule {
        border: 1px solid $fade-grey;
        height: 20px;
        @include margins(0 14px 0 11px);

        @include mobileFirst(769) {
          @include margins(0 21px);
        }
      }

      .user-wrap {
        @include row;
        align-items: center;
        justify-content: center;
        border: 1px solid $fade-grey;
        background: transparent;
        box-sizing: border-box;
        @include border-radius(15px);
        width: 40px;
        height: 40px;

        @include deskTopFirst(374) {
          width: 30px;
          height: 30px;
        }

        @include mobileFirst(769) {
          width: 50px;
          height: 50px;
        }
      }
    }

    & .user-order-list-wrap {
      display: block;
      position: fixed;
      height: 100vh;
      background: $white;
      width: 100vw;
      top: 70px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 400;
      @include scrollbar-hide;
      padding: 2em .8em 2em .8em;

      @include mobileFirst(769) {
        display: none;
      }
    }
  }
}

// SEARCHBAR STYLES
.searchbar-wrap {
  display: none;

  @include mobileFirst(769) {
    @include row;
    align-items: center;
    height: 45px;
  }

  position: relative;
  background: $white;
  @include border-radius(3px);
  height: 60px;
  width: 35%;
  border: 1px solid #e8eddf;

  .location-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 42px;
    left: 35px;
  }

  & ul.dd-menu {
    font-size: calculate-rem(14px);
    color: $font-color;
    position: absolute;
    list-style-type: none;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background: $white;
    border-radius: 4px;
    top: 4rem;
    width: 100%;
    z-index: 250;

    li {
      height: 2.5rem;
      display: flex;
      cursor: pointer;
      padding: 1.5rem 0;
      align-items: center;

      svg {
        margin: 0 1rem;
      }
    }
  }
}

// NEW DROPDOWN INPUT

.dropdown {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
  z-index: 250;

  .clear-select-icon {
    position: absolute;
    cursor: pointer;
    left: 20px;
    top: 32%;
    width: 22px;
    height: 22px;
  }

  // CLICK
  .dd-input {
    display: none;
  }

  // DROPDOWN BUTTON
  .dd-button {
    width: 88%;
    height: 100%;
    border: none;
    display: flex;
    font-weight: 400;
    color: $font-color;
    align-items: center;
    font-family: inherit;
    margin: 0.8rem 1.2rem;
    background-color: $white;
    justify-content: flex-start;
    padding: 10px 5px 10px 30px;
    font-size: calculate-rem(14px);

    &:focus {
      outline: none;
    }

    &:after {
      content: url('../../assets/images/icons/location-icon.svg');
      position: absolute;
      top: 34%;
      left: 10px;
    }
  }

  & .dd-input+.dd-menu {
    display: none;
  }

  & .dd-input:checked+.dd-menu {
    display: block;
  }

  & .dd-menu li {
    padding: 10px 6px;
    cursor: pointer;
    white-space: nowrap;
    text-align: left;
    @include row;
    justify-content: flex-start;
    align-items: center;

    img {
      margin-right: 0.5em;
      width: 18px;
      height: 18px;
    }
  }

  .dd-menu li:hover {
    background-color: #f6f6f6;
  }

  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }

  .dd-menu li.divider {
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }
}
