html:focus-within {
  scroll-behavior: smooth;
}


:root {
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 4.5px;
    border: 1px solid $font-color;
    border-radius: 0.8em;
  }

  ::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: $white;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $bg-color;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'lineto-circular-pro';
  font-size: 1rem;
  // line-height: 1.5;
  direction: rtl;
  /* update text-align value to right;  on latin screens*/
  direction: ltr;
  /* update text-align value to left; on latin screens*/

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-color;
  position: relative;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-family: 'lineto-circular-pro';
  // color: $font-color-grey;
}

img {
  border: none;
  outline: none;
  max-width: 100%;
  height: auto;
}
