$brand-color: #00E0C7;
$brand-color-dark: #075966;
$white: #ffffff;
$white-rgba: rgba(255, 255, 255, 0.8);
$font-rgba: rgba(0, 0, 0, 0.8);

$bg-color: #0d0d0f;
$font-color:  #ffffff;
$font-color-grey: #999999;

$card-bg: #C84E89;
$card-bg-2: #2193B0;
$card-bg-3: #BF5AE0;
