// HEADER STYLES
/* header */

.myFixedMenu-box-shadow {
    width: 100%;
    box-shadow: 0px 3px 5px rgba(225, 225, 225, .4);
}

.header {
    background-color: red;
    width: 100%;
    max-width: 100%;
    margin: 0 auto 0 0;
    position: fixed;
    width: 100%;
    height: 75px;

    .brand-logo {

        width: 50px;
        height: auto;
        margin: .6em 0 .5em 1em;
    }

    .menu {

        .menu-item {

            padding: 2em 0;

            .menu-link {

                color: green;
                font-weight: 500;
                font-size: 1.125rem;
                text-transform: uppercase;
            }
        }
    }
}


/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    display: none;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 18px 10px;
    position: relative;
    user-select: none;
    background: $brand-color;
    top: 17px;
    right: 20px;
    @include radius-3px;

}

.header .menu-icon .navicon {
    background: $white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: $white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
    z-index: 30;
}

// WHEN MENU IS CHECKED ON MOBILE
.header .menu-btn:checked~.menu {
    max-height: 65vh;
    height: 65vh;
    background: $brand-color;
    color: $white;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
    padding-top: 50px;
    display: block;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
    z-index: 30;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

// BUTTON TURN TO X AFTER CLICK
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
    background: $white;
}

/* 48em = 769px */

@media (min-width: 49em) {

    .header {

        position: fixed;
        top: 0;
        width: 100%;
        max-width: calc(100% - 3.5px);
        margin: 0 auto 0 0;
        height: 65px;
        background: $white;
        z-index: 100;

        .brand-logo {

            width: 50px;
            height: auto;
            margin: .6em 0 .5em 4.4975em;
        }

        .menu-btn {

            display: none;
        }

        .menu-icon {

            display: none;
        }

        .menu {

            @include flex-row;
            padding: 0;
            z-index: 90;

            .menu-item {

                padding: 0 2.0625em;
                margin-bottom: 75px;

                .menu-link {

                    color: $brand-color-dark;
                    font-weight: 500;
                    font-size: 1rem;
                    text-transform: uppercase;
                    @include transition;
                    cursor: pointer;

                    &:hover {

                        color: lighten($color: $brand-color, $amount: 5%);
                    }

                    &:focus {

                        color: darken($color: $brand-color-dark, $amount: 3%);
                    }
                }
            }
        }
    }
}
