a {
  color: $white;
}

/* header */

.header-wrap {
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;

  @include deskTopFirst(900) {
    max-width: 100%;
  }
}
.header {
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: calc(100% - 160px);
  margin: 0 auto;
  margin-top: 64px;

  @include deskTopFirst(900) {
    display: inline-block;
    max-width: calc(100% - 24px);
    margin: 0 auto;
    margin-top: 48px;
  }
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: flex;
  font-size: 1rem;

  @include deskTopFirst(900) {
    padding: 2em 0.5em;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 800;
  }
}

.menu {
  li {
    &:not(:last-child) {
      padding-right: 48px;

      @include deskTopFirst(900) {
        padding-right: 0;
      }
    }
  }
  .link-one,
  .link-two,
  .link-three {
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;

    &:hover {
      font-weight: 800;
    }

    @include deskTopFirst(900) {
      color: $white;
      z-index: 401;
    }
  }
  .link-one {
    &:hover {
      color: $card-bg;
    }
  }
  .link-two {
    &:hover {
      color: $card-bg-2;
    }
  }
  .link-three {
    &:hover {
      color: $card-bg-3;
    }
  }
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
  text-decoration: none;

  &:hover {
    color: $card-bg;
    background: linear-gradient(to right, #c84e89, #bf5ae0);
    background: -webkit-linear-gradient(to right, #c84e89, #bf5ae0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @include deskTopFirst(900) {
    margin-left: 24px;
  }
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  // transition: max-height 0.2s ease-in;
  // -webkit-transition: max-height 0.2s ease-in;
  // -moz-transition: max-height 0.2s ease-in;
  // -ms-transition: max-height 0.2s ease-in;
  // -o-transition: max-height 0.2s ease-in;

  @include deskTopFirst(900) {
    display: grid;
    place-items: center;
    z-index: 900;
    width: 100%;
    height: 100vh;
  }
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  // display: inline-block;
  float: right;
  padding: 16px 0 10px 20px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 300;
}

.header .menu-icon .navicon {
  // background: #333;
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 30px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: $white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -8px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

// MENU HEIGHT WHEN CLICKED
.header .menu-btn:checked ~ .menu {
  height: 100vh;
  max-height: 100vh;
  width: 100vh;
  background: $bg-color;
  position: fixed;
  top: 0;
  z-index: 200;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 56.25em) {
  .header li {
    float: left;
  }
  // .header li a {
  //   padding: 20px 30px;
  // }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
