.block {
  display: block;
}
.bold {
  font-weight: 900;
}
.italic {
  font-style: italic;
}

.section-main-header {
  font-size: calculate-rem(48px);
  font-style: normal;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0em;
  text-align: left;
  color: $white;
  margin-bottom: calculate-rem(64px);
  position: relative;

  &::before {
    content: url('../../../assets/icons/header-decor.svg');
    position: absolute;
    bottom: -12px;
    left: 32px;
    background-repeat: no-repeat;
    z-index: -1;

    @include deskTopFirst(1022) {
      content: url('../../../assets/icons/header-decor-small.svg');
      position: absolute;
      bottom: -4.5px;
      left: 4px;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  @include deskTopFirst(1022) {
    font-size: calculate-rem(18px);
    line-height: 25px;
    margin-bottom: calculate-rem(21px);
  }
}
